[2014-03-16 09:00] marcosmenendez opened #1 "Munin Postgres and alerts setup"
Install postgres pluging
Setup mail alerts

[2014-03-16 09:02] marcosmenendez opened #2 "Secure access to pre-production"
Set up robots.txt file to avoid search engine indexation of pre and collaborate-pre subdomains, as well as admin folder

[2014-03-16 09:05] marcosmenendez opened #3 "Support TLS 1.2"
Implement TLS 1.2 protocol. Currently not supported according to this:
https://www.ssllabs.com/ssltest/analyze.html?d=thegooddata.org May require upgrading Debian version

[2014-03-16 09:52] marcosmenendez opened #4 "Hide passwords in code"

[2014-03-16 09:58] marcosmenendez opened #5 "Setup info email"
Both the webapp and social need to send emails from info@ account, but smtp connection is not working (ask Dani).
- Review parameters in zoho
- Ensure that we follow some kind of authentication (domain keys or similar)
- Use secure connection SSL or TLS

[2014-03-16 10:01] marcosmenendez opened #6 "URL redirection bugs"
if you type collaborate.thegooddata.org without https you are forwarded to munit.
Regarding home address, it should be www.thegooddata.org now you are forwarded to thegooddata.org (without "www")

[2014-03-16 10:03] marcosmenendez opened #7 "Error uploading images to blog"
When uploading images to the blog I get the following error: Unable to create directory wp-content/uploads/2014/03. Is its parent directory writable by the server?

[2014-03-26 20:07] marcosmenendez opened #8 "Update SSL certificate"
We have the option to substitute current SSL with a wildcard one. Evaluate and decide

[2014-03-26 20:11] marcosmenendez opened #9 "Fix subdomains and url names"
Private website should be under the enjoy.thegooddata.org subdomain. Url names should be reviewed according to "sitemap" sheet on this file: https://docs.google.com/spreadsheet/ccc?key=0Aten5ipBZkcTdEprTTJRZmVzZ0xhaXpwZzVuWF9zdFE&usp=docslist_api#gid=5

[2014-04-06 22:33] #7 closed, assigned to graimon

[2014-04-13 11:34] marcosmenendez opened #10 "Set up a CMS that allow us to go international"
That manage at least the most dynamic content (faqs, legal stuff, etc). Should facilitate migration of multi language for the whole website in the future. Consider Markdown: https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet

[2014-04-13 11:47] marcosmenendez opened #11 "Get rid of session cookies"
Investigate if we can get rid off session cookies using url tokens, memcache, etc

[2014-04-13 11:50] marcosmenendez opened #12 "Insert a "traded" column in the queries list"
So the user can see if each single query has been shared or not

[2014-04-13 11:51] marcosmenendez opened #13 "Enable "csv download" in all listings"
So the user can have a copy of all data collected: browsing, queries, threats, etc

[2014-04-13 12:00] marcosmenendez opened #14 "Backend: advanced search differentiates capital and small letters"
And should not

[2014-04-13 12:01] marcosmenendez opened #15 "Backend: first line filter does not work"

[2014-04-13 12:03] marcosmenendez opened #16 "Backend: english terms"
Many terms are incorrect or not aligned with url and database names. Some url in capital letters as well.

There are terms that are called in multiple ways depending on the menu (for instance announcements and achievements)

I suggest you build an excel with the list of database fields, backend url's and names shown in the menu to identify inconsistencies and then decide how to change them.

Requi

[2014-04-17 06:47] marcosmenendez opened #17 "BTC should not be accepted as a credit card payment currency"
When buying shares, users may choose to donate with credit card and choose BTC as currency. In that case, a flash message should appear saying that "This is not a valid currency for credit card payments"

[2014-05-27 11:59] marcosmenendez opened #18 "Send application emails with action links"
Currently there is an email sent to the admin every time someone applies for membership. This email should contain shortcuts to accept or deny membership by including some links to accept application (change status to pre-accepted and send email) or deny it (change status to deny and send an email including the reason for denial)

Some variables are still missing in the mail: last time the user us

[2014-06-17 16:24] #4 closed, assigned to graimon

[2014-06-30 17:40] #5 closed

[2014-06-30 17:55] #3 closed, assigned to graimon

[2014-06-30 19:06] #9 closed, assigned to nobody

[2014-06-30 19:10] #6 closed, assigned to graimon

[2014-07-01 07:29] marcosmenendez opened #19 "Hide share page except when being pre-accepted"
Share url (www.thegooddata.org/share) should only be shown if the user is signed in and in a "pre-accepted" status.

If the user is accepted, and the user visits this url (or the long version https://www.thegooddata.org/user/purchase) it should be forwarded to the share-thanks page (www.thegooddata.org/share/thanks)
If the user has not signed in, it should be forwarded to the sign in page
If the u

[2014-07-01 08:11] #1 closed, assigned to graimon

[2014-07-01 10:43] marcosmenendez opened #20 "Add more membership details"
Add the option to upload an avatar and url in the "membership details" webpage.

Avatar will be used as well by Open Atrium (accept a format and size compatible with OA). Specify in a hoovered exclamation mark that "This image may be visible by others in the about-us page and when participating in the collaboration network. We recommend that you leave it blank or that you use an avatar instead of

[2014-07-01 20:05] marcosmenendez opened #21 "Registration thanks page"
![screen shot 2014-07-01 at 9 52 19 pm](https://cloud.githubusercontent.com/assets/1178350/3448613/32b16ba0-015b-11e4-832b-8c31dc6a8bc6.png)
Once registration has been submitted, user should be forwarded to a apply/thanks page with the text as shown here: https://docs.google.com/document/d/1iCEaRDs34ImcX1AtlHj8ZlrCs41vAPca6_aJOqbEkp8/edit#heading=h.3vps6bu1f5r9

By the way, currently, if there is

[2014-07-01 20:28] marcosmenendez opened #22 "Error message in pre-accepted status"
If a user signs in while the account has not yet being accepted there is an error message saying "You account is blocked." which is misleading.

It should say "You are not yet a member of TheGoodData."

The other message should be presented if the user is on "denied", "expelled" or "left".

By the way, the correct status is "accepted" instead of "accept". Can we fix that?

[2014-07-01 20:46] marcosmenendez opened #23 "Mails to users"
Sender name should be:
"Info, TheGoodData" instead of "info" when sent from "info@thegooddata.org"
"Members, TheGoodData" instead of "members" when sent from "members@thegooddata.org"
"Marcos Menendez, TheGoodData" instead of "marcos" when sent from "marcos@thegooddata.org"

Regarding the mail content, it is not updated. The right versions are here: https://docs.google.com/document/d/1iCEaRDs34Imc

[2014-07-02 06:25] marcosmenendez opened #24 "Use friendly links only"
Each page has a long and a friendly url. We should use the friendly versions only. Most of the times, when there is an error (when signing in or when applying for membership for example) the user is sent from the friendly url to the long one.

Share purchase link that is presented both in the acceptance email and in the menu uses the long version (https://www.thegooddata.org/user/purchase) instead

[2014-07-02 07:21] marcosmenendez opened #25 "Share purchase link should not be personalized"
Currently links to buy shares are personalized with a unique ID, but they shouldn't be. Should just be https://www.thegooddata.org/share

Users should be able to sign in to the website and see their personal loan contract

[2014-07-22 22:23] marcosmenendez opened #26 "Resign my membership confirmation page"
There should be a new page shown when pressing "Resign my Membership" button in account settings called www.thegooddata.org/resign

Page format should be similar to edit profile one, but with the following text https://docs.google.com/document/d/1iCEaRDs34ImcX1AtlHj8ZlrCs41vAPca6_aJOqbEkp8/edit#heading=h.ecluo5dhnwyl

[2014-07-25 21:11] atrandafir opened #27 "Fix permissions on database tables for user "tgd""
When trying to alter tables in the database from Yii command line migration tool it returns some permissons error:

ERROR:  must be owner of relation tbl_adtracks_sources.

Also if I try to replace a existing function returns a similar error:

ERROR:  must be owner of function _getriskratiomember

Must be fixed on both prod and pre databases.

[2014-07-25 21:14] atrandafir opened #28 "Replace functions _getriskratiomember and _getriskratiototal"
The two functions must be replaced because they have been fixed but because of database permissions I cannot do it by myself.

[code]

Must be done on both prod and pre databases.

[2014-07-25 21:39] atrandafir opened #29 "Keep unchanged the "runtime" folder when deploying with capistrano"
I think there is no reason to remove the "runtime" folder when deploying.

Yii uses that folder to write logs but also a file called state.bin which I think stores some random string the first time you run the application.

If there are users logged in the application at the moment of a new deployment and we delete the runtime folder, the file will be generated again with a different string and wi

[2014-07-29 09:10] marcosmenendez opened #30 "Migrate blog to new server"

[2014-07-29 09:47] marcosmenendez opened #31 "Get your share process bugs"
Comments regarding https://pre.thegooddata.org/share and https://pre.thegooddata.org/user/purchase/MTQ=
1. There should be one single page. Not 2 versions as there are now. Delete the wrong version. The good version should only be shown if the user is pre-accepted and has signed in, so the valid should have the blue menu bar at the top with "Get your share", "good data", "evil data", etc. Please a

[2014-07-29 10:24] #25 closed, assigned to nobody

[2014-07-29 10:31] marcosmenendez opened #32 "Forward to referral page after sign in"
When a user signs in at https://pre.thegooddata.org/sign-in 2 different things can happen:
1. If it has reached that page when trying to visit any of the menu options (get your share, good data, etc), the user should be redirected to that option once signed in
2. If the user got to the sign-in page directly, he should be forwarded to the Good Data (default page)

[2014-07-29 10:42] marcosmenendez opened #33 "Donation success page"
Success message after donating with bitcoins is being shown in the same donation page adding a green box at the top. User should be forwarded to donate/thanks page instead. Test with this url https://www.thegooddata.org/donate/?token=eyJ0cmFuc2FjdGlvbl9pZCI6IjUzYTM2NTRmNWJhYTUiLCJ0eXBlIjoiRE9OQVRJT04iLCJzdGF0dXMiOiJPSyJ9&currency=USD&amount=100

COMMENT
Please test that redirection to thanks page

[2014-07-29 10:50] marcosmenendez opened #34 "Membership details update"
After updating membership details (https://pre.thegooddata.org/membership) a different url is shown s (https://pre.thegooddata.org/user/profile/profile) when user should be kept in the original one

[2014-07-29 12:03] marcosmenendez opened #35 "Cancel admin.thegooddata.org subdomain"
Admin url is under www.thegooddata.org url so admin subdomain is not longer needed (it is currently forwarded to the blog, BTW).

We could use that free SSL slot and use it for collaborate-pre subdomain to avoid some SSL errors that we currently have

[2014-07-29 12:45] marcosmenendez opened #36 "Create a registration/thanks page"
When registration completed , present the following message in a new page using same format as for the share/thanks page: https://docs.google.com/document/d/1iCEaRDs34ImcX1AtlHj8ZlrCs41vAPca6_aJOqbEkp8/edit#heading=h.3vps6bu1f5r9

[2014-07-29 14:25] #30 closed, assigned to graimon

[2014-07-29 17:01] #23 closed, assigned to atrandafir

[2014-07-29 20:47] marcosmenendez opened #37 "Your data: Search and browsing history pagination"
Pagination does not match the design. Please find a way to present and navigate along multiple pages

![thegooddata_user_data](https://cloud.githubusercontent.com/assets/1178350/3741640/880b4dde-1761-11e4-8a32-0f9fdab5a95d.png)

[2014-07-29 20:51] marcosmenendez opened #38 "Your data: Add overview of allowed sites and threats"
In the same way that it's presented the browsing and the search history, show a list of blocked threats that the user has allow

[2014-07-30 00:09] #36 closed, assigned to nobody

[2014-07-30 11:29] marcosmenendez opened #39 "Admin: transactions and incomes"
First, I've seen that there is an option in admin called incomes https://pre.thegooddata.org/incomes/admin that may be depreciated since it was probably changed to transactions https://pre.thegooddata.org/transactions/admin

Second, I've seen that there are multiple transactions value at 0 with no currency. I guess they've been created when registering a user.

The way transactions should work is

[2014-07-30 12:02] marcosmenendez opened #40 "Admin: Loan creation bugs"
Regarding loan creation: https://www.thegooddata.org/loans/create
1. It doesn't let you upload images (lack of permission)
2. It doesn't let you create more "loans leaders". In fact it should be called "loan leader" or, ideally "charity" (in the database as well). There should be a menu option at the top of https://www.thegooddata.org/loans/admin that let you "manage charities"

[2014-07-30 12:09] marcosmenendez opened #41 "Admin: currencies"
There should be an option to manage currencies in the admin website in the same way that there is one for countries. There is a database table for that, that includes xrate, date, etc.

Please include the 139 currencies supported by Stripe. See them here: https://support.stripe.com/questions/which-currencies-does-stripe-support

[2014-07-30 16:57] #35 closed, assigned to dlen

[2014-07-30 17:47] marcosmenendez opened #42 "Put collaborate-pre under ssl"
Implies issuing a new certificate. When ready to go, please ask for it

[2014-07-30 17:48] marcosmenendez opened #43 "Set-up monitoring system"

[2014-07-30 17:54] marcosmenendez opened #44 "Document development and deployment set-up"
Document both the development set-up as well as capistrano deployment system

[2014-08-05 17:30] #28 closed, assigned to atrandafir

[2014-08-05 17:32] #27 closed, assigned to atrandafir

[2014-08-06 18:40] #19 closed, assigned to atrandafir

[2014-08-06 18:40] #32 closed, assigned to atrandafir

[2014-08-06 19:28] atrandafir opened #45 "configure nginx to not serve .txt files directly, or at least not robots.txt file"
I have setup a directory under /protected/robots with a .txt file for each domain and a Yii url rule that will forward the path /robots.txt to the .txt file corresponding to the active domain the user is visiting.

So I've got:
protected/robots/www.thegooddata.org.txt
protected/robots/pre.thegooddata.org.txt

This way we can have multiple robots.txt files for various domains and it basically works

[2014-08-16 14:47] #33 closed, assigned to atrandafir

[2014-08-16 15:47] atrandafir opened #46 "After deploy 2014-08-16"
I'm adding this issue as a reminder to do the following tasks after deployment to production:
- Give write permissions on uploads: chmod -R 777 /srv/webapp/shared/uploads
- Migrate database: php /srv/webapp/current/protected/yiic.php migrate

I think we should do this as a habit:
1. If we know special tasks must be done for next deployment to production then
2. Come here and search for a open task

[2014-08-16 16:11] #40 closed, assigned to atrandafir

[2014-08-16 16:35] #22 closed, assigned to atrandafir

[2014-08-16 17:38] #21 closed, assigned to atrandafir

[2014-08-18 14:52] marcosmenendez opened #47 "Automate user resignation share buy-back alternatives"
As described in this issue #26 there are 3 different scenarios when a user resigns:
- That has a loan that is automatically cancelled
- That has paid for the share and request the money back
- That has paid for the share but donates it to TGD

At this point this is handled manually, but we should do it as part of the resignation process. The resignation page should be different then depending on t

[2014-08-20 12:05] marcosmenendez opened #48 "Currency treatment"
This issue explains the use of currencies that was raised on issue #39

Regarding the use of currencies, there are 2 factors that makes it a bit complex if we want to be accurate and reuse all this info for accounting purposes as well:
1. Company (and bank) are based in UK and therefore reference currency is GBP
2. Main target market is going to be US, and therefore we will present all info to the

[2014-08-20 21:37] #48 closed, assigned to atrandafir

[2014-08-20 21:38] #39 closed, assigned to atrandafir

[2014-08-20 21:39] #41 closed, assigned to atrandafir

[2014-08-20 22:08] #46 closed, assigned to atrandafir

[2014-08-21 09:07] marcosmenendez opened #49 "Update exchange rates automatically"
In order to maintain exchange rates to GBP of all currencies we should setup a daily cron job that will look into some API (Google?) and import fresh exchange rates.

[2014-08-21 09:11] marcosmenendez opened #50 "Couple of bugs with good data webpage"
There are 3 bugs in good data webpage:
- A major one: Total loss is not well calculated. It should be the sum of losses of each project. I've entered a couple of them with no loss, however the summary shows as we have lost the whole amount lent. I've seen that the outstanding portfolio is at zero, while it should be at $50. It may be a matter of swapping the formulas? Outstanding means: sum of all

[2014-08-21 10:46] #15 closed, assigned to atrandafir

[2014-08-22 15:41] #34 closed, assigned to JuanMenendezBuitrago

[2014-08-30 21:28] #45 closed, assigned to graimon

[2014-08-30 22:48] #44 closed, assigned to graimon

[2014-09-01 10:43] #13 closed, assigned to atrandafir

[2014-09-05 18:17] atrandafir opened #51 "After deploy 2014-09-05"
Following constants must be defined in the config file:

/\* openatriumm single sign on token */
const OA_API_TOKEN='yayme';

/\* cookie domain name */
const COOKIE_DOMAIN='.tgd.local';

/\* session name */
const SESSION_NAME='TGDSESSID';

[2014-09-05 18:20] #50 closed, assigned to atrandafir

[2014-09-11 09:49] josereyero opened #52 "SSO Integration: User not returned after edit profile"
When the user is redirected from OA to Webapp to edit profile, the user is not redirected back after clicking "Submit changes"

Example URL:
https://pre.thegooddata.org/membership?next=http%3A//local.thegooddata.org/

[2014-09-16 17:33] #52 closed, assigned to atrandafir

[2014-09-16 17:48] atrandafir opened #53 "Update cookies information on privacy page"
Update information about the cookies we use on the following page:
https://www.thegooddata.org/legal#privacy

[2014-09-16 17:49] #51 closed, assigned to atrandafir

[2014-09-17 12:04] marcosmenendez opened #54 "Delete user data automatically"
We should keep as minimum data as possible. The following automatic processes should be implemented. Split them into separate issues if some of them are more complex and will require some more time to investigate:
1. Delete all usage data that is older than 3 months except the totals needed to show yearly figures (we can keep just daily totals and sum up to calculate last year's)
2. Delete all use

[2014-09-17 12:07] #2 closed, assigned to graimon

[2014-09-17 15:10] #26 closed, assigned to JuanMenendezBuitrago

[2014-09-22 15:57] dlen opened #55 "php packages upgraded in preproduction"
System upgrade was performed and the following packages have been upgraded:

from 5.4.4-14+deb7u12 --> 5.4.4-14+deb7u14

Please check that everything in the app is working as expected. Should be a minor change but anyways it should be checked.

I will wait for ok from development to set new version in production.

[2014-09-24 10:10] #53 closed, assigned to atrandafir

[2014-09-24 11:39] atrandafir opened #56 "Build a pre-production database so we can test new functionality"
Setup a backup system of prod database
Copy DB from prod to pre, only users if possible or entire db if not.
Required by Collab - SSO on pre.

[2014-09-24 13:59] marcosmenendez opened #57 "Update email signature"
As shown here https://docs.google.com/document/d/1iCEaRDs34ImcX1AtlHj8ZlrCs41vAPca6_aJOqbEkp8/ change signature of personal mails, joining "Director" and "TheGoodData" in one single line

[2014-09-27 14:57] marcosmenendez opened #58 "Welcome screen after download"
Show welcome screen after downloading the extension with some basic instructions. Attached the example of shareaholic
![screen shot 2014-09-27 at 4 55 26 pm](https://cloud.githubusercontent.com/assets/1178350/4431078/86cc3e6e-4656-11e4-86f0-26eb965da602.png)

[2014-09-29 11:13] marcosmenendez opened #59 "Good data url's"
Currently, Good Data url's are:
https://www.thegooddata.org/good-data if you are unlogged
https://www.thegooddata.org/goodData if you are logged

The second one is horrible. They don't follow any logic. I would prefer, for instance:
https://www.thegooddata.org/good-data-public if you are unlogged
https://www.thegooddata.org/good-data if you are logged

Change as well links from the extension that

[2014-09-29 16:45] marcosmenendez opened #60 "Money repaid and available for microloans not properly calculated"
I've updated info of loan here https://www.thegooddata.org/loans/update/4 adding $5.74 paid back. However, if I go to Good Data https://www.thegooddata.org/good-data I don't see that amount in "Money repaid". Money repaid should be the summation of money paid back of every loan

Regarding Money available for microloans, it should be the sumation of Income * Money reserved minus the summation of mo

[2014-09-30 17:46] #55 closed, assigned to dlen

[2014-09-30 19:01] marcosmenendez opened #61 "Set up own mailing service"
Based on Amazon SES initially (in the future move to own mail server). Use PHPList or Sendy.

[2014-09-30 19:04] marcosmenendez opened #62 "Set up way to update blog"
Worpress and plugins request constant update by FTP. Set up FTP service or alternative workaround

[2014-09-30 19:06] #57 closed, assigned to nobody

[2014-09-30 19:29] marcosmenendez opened #63 "Confirm active users figure is right"
Active users figure shown in the webstore is much higher that the one we show in the good-data page. See here:
https://chrome.google.com/webstore/detail/thegooddata/elbfekgipcdaikbmepglnkghplljagkd
https://www.thegooddata.org/good-data

Confirm BOTH that:
1. We are providing unique IDs to each user (anonymous or not).
2. We are correctly counting/updating the count of IDs

[2014-09-30 19:35] marcosmenendez opened #64 "Fix blog icon"
It is not TGD, but a black one. Put TGD's

[2014-10-03 20:06] atrandafir opened #65 "After deploy 3 Oct 2014"
Please do the following after deploy:
- run yiic migrate to update the database

[2014-10-03 23:13] #29 closed, assigned to atrandafir

[2014-10-04 00:16] atrandafir opened #66 "Evil data takes 1 minute to load (RiskRatios, AdtracksRatios)"
On production server with admin account the Evil data ajax requests take almost one minute to load.

This must be because it has to deal with a lot of data so we might need a optimization here or data caching.

[2014-10-05 18:45] marcosmenendez opened #67 "Multiple bugs in evil-data page"
Please look at this page carefully to identify all the bugs. I've found some, but there are plenty, so I may have miss others:
1. The number following the "Bottom" should be in the same line than the text. See here:
![screen shot 2014-10-05 at 8 32 57 pm](https://cloud.githubusercontent.com/assets/1178350/4519480/30510114-4cbe-11e4-8669-727baa207b59.png)
2. % should be rounded to 5% upwards. Botto

[2014-10-05 18:47] marcosmenendez opened #68 "Wrong seniority level in your-data page"
As can be seen hereafter, this page says that I'm an expert, while te extension says I'm an owner. The second is right
![screen shot 2014-10-05 at 8 46 02 pm](https://cloud.githubusercontent.com/assets/1178350/4519533/1504b462-4cc0-11e4-99fd-f54d7af6ecfd.png)

[2014-10-05 18:57] marcosmenendez opened #69 "Some queries not being recorded and some sensitive terms are"
When I make a query in the browser navigation box, the query is properly stored, and the result is shown in google.com page, as shown hereafter.

![screen shot 2014-10-05 at 8 57 25 pm](https://cloud.githubusercontent.com/assets/1178350/4519566/7f2969d6-4cc1-11e4-82c8-81902dd6e22d.png)

However, if I visit google.es and write a query in google search box, the query is not recorded. We decided not

[2014-10-12 03:27] #37 closed, assigned to atrandafir

[2014-10-12 06:19] #18 closed, assigned to atrandafir

[2014-10-12 08:07] #63 closed, assigned to atrandafir

[2014-10-12 08:22] #59 closed, assigned to atrandafir

[2014-10-14 15:57] #64 closed, assigned to JuanMenendezBuitrago

[2014-10-16 08:20] #67 closed, assigned to JuanMenendezBuitrago

[2014-10-16 08:21] JuanMenendezBuitrago opened #70 "Risk profile"
In risk profile it says that I'm a risk lover while the % of threats allowed is smaller than the average. This can't be possible. Moreover, if I was a risk lover, the icon should not be a yellow one, but a red one

![c477b698-4cbf-11e4-96b7-8be50d575693](https://cloud.githubusercontent.com/assets/5305439/4659467/58afb6da-550d-11e4-97aa-b80e06b34f91.png)

[2014-10-17 12:38] #65 closed, assigned to atrandafir

[2014-10-18 07:29] marcosmenendez opened #71 "Wrong wording in menu"
In the drop down menu it says "user data" instead of "your data". See attached
![screen shot 2014-10-18 at 9 27 06 am](https://cloud.githubusercontent.com/assets/1178350/4688869/6dcafdf4-5698-11e4-9ff3-413e3864a0d8.png)

[2014-10-18 07:30] marcosmenendez opened #72 "Enter to sign-in"
On the extension sign-in page, users should be able to sign-in by simply pressing enter both in the username and password boxes. Now they are forced to move the mouse and click on the sign-in button

[2014-11-04 17:52] atrandafir opened #73 "Optimization process"
As we've been talking in the meeting I'm creating this issue and pointing out the next steps for the optimization process.

* Marcos sign up to new relic
* Marcos assigns someone to install it on pre server
* Juan and Alex start to make traffic on the server by testing every webapp/extension part intensely
* We analyze new relic logs and detect items to be optimized
* We create separate issues per

[2014-11-05 11:10] #62 closed, assigned to agonbar

[2014-11-06 23:16] atrandafir opened #74 "Optimize evilData/DataThreatsYear request on Evil data page"
The evilData/DataThreatsYear request takes about 6-10 seconds to load for a user with lots of data.

The view executed on the database is view_adtracks_year_users_percentil and it must be optimized for better performance.

It is curious that the view that shows data for week or month runs fast enough but this one is very slow.

[2014-11-12 17:26] #66 closed, assigned to JuanMenendezBuitrago

[2014-11-16 17:50] #72 closed, assigned to JuanMenendezBuitrago

[2014-11-16 17:51] #71 closed, assigned to JuanMenendezBuitrago

[2014-11-17 10:11] #43 closed, assigned to agonbar

[2014-11-18 20:19] #31 closed, assigned to atrandafir

[2014-11-19 11:00] marcosmenendez opened #75 "Optimize mix of threats graph and risk profile request on Evil data page"
When having a large number of queries, the 2 tables at the right hand side of the evil data page take several seconds to be generated.

I guess it demands a lot of server resources, so we should optimise them as well. In case we decide to cache some of this data, please spacify if will be done on the fly or in batches, and the cache lifetime

[2014-11-23 12:55] #68 closed, assigned to JuanMenendezBuitrago

[2014-11-23 13:14] #70 closed, assigned to JuanMenendezBuitrago

[2014-11-25 22:23] #61 closed, assigned to agonbar

[2014-11-27 10:43] marcosmenendez opened #76 "website metadata is (still) wrong"
Title is not the right one. See here: https://docs.google.com/document/d/1EUmcUnfO9tz7tKOsFiTe4Dz8uFYViWnIuxI1VUBpCS4/

[2014-11-27 13:27] marcosmenendez opened #77 "Bar with press mentions in homepage"
We should add a grey strip right above the footer in the homepage with the logos of the mentions we've got linked to the original article similar to this one: http://www.reputation.com/

In order to do so I propose:
1. That we take out the grey strip at the bottom (we leave those 2 logos but with white background)
2. That we use exactly that strip on top of the footer, just in the homepage. It sho

[2014-11-29 17:04] #74 closed, assigned to JuanMenendezBuitrago

[2014-11-29 17:04] #75 closed, assigned to JuanMenendezBuitrago

[2014-12-01 12:34] marcosmenendez opened #78 "Eliminate New relic cookies or insert cookie warning message"
We have been trying to avoid the use of analytics cookies. We have done so with Google Analytics, but we are now using New Relic cookies.

Either we take those out or we have to include a cookie warning message. I would prefer the first option.

regarding cookie messages there are some open source solutions like this one: http://sitebeam.net/cookieconsent/

[2014-12-01 13:48] #77 closed, assigned to JuanMenendezBuitrago

[2014-12-01 16:10] marcosmenendez opened #79 "Delete partners logos"
Given the restrictive PR policy of our data partner, we need to delete both logos

[2014-12-01 16:35] #79 closed, assigned to JuanMenendezBuitrago

[2014-12-01 16:38] marcosmenendez opened #80 "Wrong number of monthly queries processed in good-data page"
Current number refers to the current calendar month, but it should refer to the las 30/31 days. By the way, this number should be cached. Calculated, at most, once every hour.

Evaluate caching the other numbers presented in the top table.

Do the caching using always the same cache mechanism and tables (Alex's)

[2014-12-02 07:07] marcosmenendez opened #81 "Error when creating a new loan status"
In the backend I want to create a new loan status called "Paying Late", but when I do so, the following error appears
![screen shot 2014-12-02 at 7 06 44 am](https://cloud.githubusercontent.com/assets/1178350/5259013/e491e6ba-79f1-11e4-969e-11dd668eb890.png)

[2014-12-02 08:34] marcosmenendez opened #82 "[Interest] Import Alexa categories of most visited sites"
We will ad some graphs to the user data showing user interest based on browsing habits.

Before that, we have to categorise their browsing habits

To do that, we need to have the categories of the most visited sites. We will use Alexa Top sites API http://aws.amazon.com/es/documentation/alexa-top-sites/

Take into account that categories include sub-categories as well (and subsequent levels). Thos

[2014-12-03 16:56] agonbar opened #83 "Customize phplist interface"
In /srv/phplist/public_html/lists (/admin) there are some generic pages of phplist.
Change logos/improve desing of the html preserving the backend calls.

[2014-12-05 19:11] atrandafir opened #84 "Check tbl_active_users in production"
We've got an increment of 100+ in minutes and it is suspicious so let's check if it's not caused by some automated bot or bug in the extension.

[2014-12-06 20:59] marcosmenendez opened #85 "Duplicated url for support-us page"
We have 2 url's for the same thing:
https://www.thegooddata.org/support-us
https://www.thegooddata.org/donate/index

The second one should not exist. It is currently reachable at least from the top menu

[2014-12-08 18:28] #12 closed, assigned to JuanMenendezBuitrago

[2014-12-08 19:20] #80 closed, assigned to JuanMenendezBuitrago

[2014-12-09 18:23] marcosmenendez opened #86 "Encrypt IP data"
We have been forced to store the IP to avoid some hackers from creating fake accounts. We should encrypt it in a way we cannot de-encrypt it back

[2014-12-09 20:10] marcosmenendez opened #87 "[Interest] Calculate average and individual interests"
We should calculate the average behaviour of our users by calculating the share of urls visited for each subcategory at the lowest level (upper levels are calculated adding percentages of each sub-level).

For the time being let's do it using the last 7 days of data and calculate it every 24h. Data should be cached to avoid unnecessary calculations. We can store this percentage in a variable of in

[2014-12-19 14:14] #84 closed, assigned to atrandafir

[2014-12-19 14:33] atrandafir opened #88 "Install minScript extension and modify the way we load all assets"
In order to minimize and unify assets and also avoid browser cache and serve always the most recent version we must install minScript extension.

Once the extension is installed, all the javascripts and css files in the layout must be updated to be loaded with Yii::app()->clientScript so that minScript extension takes them into account.

Also some testing must be done while we change this in order

[2014-12-19 14:55] #81 closed, assigned to atrandafir

[2014-12-19 15:44] #86 closed, assigned to atrandafir

[2014-12-19 15:46] atrandafir opened #89 "After deploy 19 of december 2014"
The following must be done after deploying:
- Run database migration 'yiic migrate'

[2014-12-19 15:55] #85 closed, assigned to atrandafir

[2014-12-19 15:55] marcosmenendez opened #90 "Delete reference to IP in privacy policy"
Due to hacker attacks we have been forced to store the IP. We have hashed it to avoid that we can access to it. However, privacy policy has to be updated accordingly.

Delete sentence that says: "Unlike most websites, our site does not store any IP data that could be used to identify our users. ". Update last revision date to December 2014 (at the bottom of the text).

You can find it at in https:

[2014-12-20 18:44] #78 closed, assigned to atrandafir

[2014-12-22 17:37] marcosmenendez opened #91 "Upload html for inline installs"
I want to try how inline installs work (without passing through the Chrome market).

[2014-12-22 23:02] marcosmenendez opened #92 "The blog is not sending emails"
When new comments are posted, the blog should be sending a notification email to marcos@thegooddata but it is not doing it

[2014-12-23 10:15] marcosmenendez opened #93 "A couple of issues with loans"
Loans shown in https://www.thegooddata.org/good-data should be shown sorted by loan date (from most recent to oldest). All amounts should have 2 decimals.

They should be paginated in groups of 10. (same format as the one used for urls and queries)

Pictures should have an internal unique url. Currently, if you upload 2 pictures with the same name for different loans, they get mixed up

[2014-12-23 18:45] #90 closed, assigned to JuanMenendezBuitrago

[2014-12-27 08:22] marcosmenendez opened #94 "Admin header overlaps menu options"
It happens for instance here: https://www.thegooddata.org/loansActivities/admin I cannot click on the options that are above "Manage Loan Status" because they are covered by the page header

But it used to happen on other pages, so if possible I would review them all and ensure they all work well

[2014-12-27 19:22] #69 closed, assigned to JuanMenendezBuitrago

[2014-12-27 20:07] marcosmenendez opened #95 "Review website texts"
Please review texts according to this document: https://docs.google.com/document/d/1ICZ83Mj81VpWEWEu-ONpEkggWQrAXwKs90cQ_o_2lZo/

Do not correct FAQs yet. I still have to review them.

In case that some text are a bit too long, please shorten or ask me

[2014-12-28 04:30] #89 closed, assigned to atrandafir

[2014-12-30 16:34] #94 closed, assigned to JuanMenendezBuitrago

[2015-01-01 17:23] agonbar commented on #92
It should be fixed, but i can't test it without Marcos. Will revise on next meeting.

[2015-01-02 14:22] marcosmenendez opened #96 "Minor errors in Primary rules"
Have a look at the original document here https://docs.google.com/document/d/1fB-LQpB3Igwzo5yt0mH0QGUurMKQbsNInVc38tlhvpo/ and compare it with https://www.thegooddata.org/legal#rules

The website contains a duplicated article that should be deleted (article 15) and all the numbering changed from there onwards.

I've found one title missing before article 57 called DIRECTORS in capital letters. Ple

[2015-01-03 10:50] marcosmenendez commented on #95
FAQs can be corrected as well. Leave emails yet unchanged until I review them

[2015-01-03 18:13] JuanMenendezBuitrago commented on #14
Where's advanced search in the webapp?

[2015-01-04 09:04] marcosmenendez opened #97 "Country should be registered with latin caracters"
As you can see in member 7370278 country name has been saved using Cyrillic alphabet. We can let him introduce the country in such characters, but then we should convert it to the standard list of countries that we have

[2015-01-04 09:37] marcosmenendez opened #98 "Install Piwik analytics"
Download it from here: http://piwik.org/download/ (requires 5 minute installation)

Take into account recommendations to avoid cookie consent explained here: http://piwik.org/blog/2014/10/cnil-recommends-piwik-analytics-tool-no-cookie-consent/

(1) anonymise visitor IP addresses (at least two bytes)
(2) include the opt-out iframe solution in your website.

Once deployed, send name and description

[2015-01-04 09:41] marcosmenendez opened #99 "Downgrade servers"
Since user uptake is not taking place yet, we can downgrade servers to the initial setup.

[2015-01-04 09:43] marcosmenendez opened #100 "Set up load balancer"
Once servers are downgraded we should set-up a load balancer to allow quick reaction in case of users uptake without overspending on servers capacity in the meantime.

This issue has been requested one month ago already (early December). Any progress yet?

[2015-01-07 01:24] agonbar commented on #100
But to do a load balancer, we need at least 2 servers, it is ready to be used since the last call. (On December).

[2015-01-07 02:48] agonbar commented on #99
Servers downgraded and all services tested.

[2015-01-07 02:48] #99 closed

[2015-01-07 09:30] marcosmenendez commented on #76
Again, homepage is wrong. It says "TheGoodData | Enjoy your data The Good Data - Site" instead of "TheGoodData | Enjoy your data"

[2015-01-07 12:36] #96 closed

[2015-01-07 12:36] #95 closed

[2015-01-07 12:37] #93 closed

[2015-01-07 13:59] marcosmenendez opened #101 "Download csv button in admin lists"
Setup functionality to download any admin list. Use any open source development. There must be something available.

Ideally, when clicking on that download button, a list of fields will appear. Those would be all the fields shown in the detailed page. User should be able to decide which ones to include in the report. If that's is too complex, just include all fields by default.

In the future tha

[2015-01-07 14:03] marcosmenendez opened #102 "List of EOY members & donations for accounting purposes"
Send me a list of company Members at end of year. Include in that list all PII + detail if they have bought a share or they asked for a loan. You can find that detail in the transactions database.

I would also need the list of the donations, including amount, currency and date. I cannot take it directly from Stripe, since Stripe data does not split between share purchase and donation

BTW, there

[2015-01-07 16:50] atrandafir commented on #60
Set the fields to 0,

[2015-01-07 23:34] marcosmenendez opened #103 "Build sitemap"
take out of the sitemap admin pages. Not sure if it is a sysadmin or development feature. So please clarify if it has to be done by @JuanMenendezBuitrago or @agonbar

[2015-01-09 08:36] marcosmenendez commented on #101
It has already been built by @atrandafir in the transactions view here: https://www.thegooddata.org/transactions/admin so it is a matter of adding it to every list in admin. A couple of comments about it:
- It is not exporting other alphabets. It is important at least in the members pii to be able to export Cyrillic, Japanese, hindu, etc
- it is exporting the file in excel. If it is easier or requ

[2015-01-09 08:38] #102 closed

[2015-01-09 08:40] marcosmenendez commented on #100
According to Adrian, it is better to leave it as it is for the time being. In case w need it it will be quite straightforward to add more servers. I take it out of the release 12 then

[2015-01-09 08:41] marcosmenendez commented on #97
Not only that, but country name should be in English always. Currently there are people with Spain or España. All of them should be with Spain

[2015-01-09 13:16] JuanMenendezBuitrago commented on #97
OK, so what alphabets should we be able to deal with, apart from Cyrillic (japanese, chinese... ?)

[2015-01-09 13:35] marcosmenendez commented on #97
All. Either that or we convert them to latin. I don't know what is the standard procedure for international sites

[2015-01-10 14:42] marcosmenendez opened #104 "Change columns in the loans list"
In the loan list https://www.thegooddata.org/loans/admin substitute column called "Title ES" with the variable called "Paidback" so I can see if the loan amount has been updated or not

[2015-01-13 10:53] JuanMenendezBuitrago commented on #104
Done.

[2015-01-13 10:53] #104 closed

[2015-01-14 15:20] JuanMenendezBuitrago commented on #101
I've tried to use the same code that is in the tansactions section but it doesn't work well with the adtracks,browsing and queries tables because it runs out of memory. I think it's because it generates the file on-the-fly and it consumes too much memory.

I'll try to:
 * Export to CSV instead of Excel.
 * Generate a temporary file and then send it to the user

[2015-01-14 17:14] atrandafir commented on #101
The code that I've put in Transactions uses a very lightweight Excel format. It's basically like a CSV but the file is served as a XLS, so that format is not the problem. But I agree anyway into switching to CSV, I had put it to XLS because some Excel programs do not open very well CSV files.

Anyways so feel free to use CSV, I think php has some built-in functions for that.

Now I see you want to

[2015-01-14 17:27] marcosmenendez commented on #101
You are right, lets not export those. Those could only make sense exporting if the could be filtered first.

Let's export the rest of them (loans, etc). Thanks

[2015-01-14 19:32] JuanMenendezBuitrago commented on #101
The problem with UTF-8 or UTF-16 is that Excel doesn't recognize them automatically when opening the file. You have to import it and specify what encoding you'r expecting (UTF-16).

If the file is opened in a text editor such as notepad or sublimetext, the cyrillic, hindu etc the characters are correctly shown. (Not now, but with the upcoming implementation they do).

[2015-01-18 19:34] agonbar commented on #98
piwik.thegooddata.org is now working, but the webs to be tracked still need to be configured by adding a script.
http://developer.piwik.org/guides/tracking-javascript-guide
There's the guide to do it, it's adding that code to the footer. I'll assign Alex to do it.

[2015-01-19 11:04] JuanMenendezBuitrago commented on #101
![export](https://cloud.githubusercontent.com/assets/5305439/5799512/6165d2e4-9fd3-11e4-8f97-472da6a5286d.PNG)

[2015-01-20 18:25] agonbar commented on #8
The new certificate is set and the ssllabs marks is the same.

[2015-01-20 18:25] #8 closed

[2015-01-20 18:35] agonbar commented on #42
Set the same certs (the wildcard one) as in pro.

[2015-01-20 18:35] #42 closed

[2015-01-21 16:26] JuanMenendezBuitrago commented on #14
I've made the necessary changes so that searches on text fields are case-insensitive but for some reason the advanced search in the members section does not work (not now and neither before the changes). I'll continue digging into it looking for what may be causing this behavior.

[2015-01-21 16:34] JuanMenendezBuitrago commented on #97
Google Maps API returns the country data in two formats: long (the real name, using the alphabet determined by the user's settings) and short (UK, US, ES, FR).
I'm still trying to figure out if the short format is also affected by the user's language settings.

[2015-01-21 16:36] JuanMenendezBuitrago commented on #98
I've added the script to the layout footer in the webapp's pages with the three options available in the piwik admin settings page.

[2015-01-21 16:55] marcosmenendez commented on #97
It probably follows ISO standard, doesn't it? https://www.iso.org/obp/ui/

[2015-01-22 09:33] marcosmenendez opened #105 "Feed stripe payments into our database"
Every time we receive an stripe payment I have to input it manually to our Income table. There must be an easy way to integrate with them and ad that info automatically in GBP as a donation, reserving for loans 50%

[2015-01-22 11:25] marcosmenendez opened #106 "Count the "pieces of data contributed" in non English queries as well"
Up to now we only counted the queries done in English, this may lead to think that the service is not working and uninstall the extension.

We should therefore count as well queries done in other languages if they don't contain sensitive terms. For the time being, lets use the same dictionary of sensitive terms.

Do not share any of those queries with Chango. Only those that are done in English ba

[2015-01-22 11:29] marcosmenendez opened #107 ""Start" message at good-data persists"
The message shown in yellow at the top of the screen should not be shown again if the user clicks on the "x". Now, if users visit that url again, the message is shown, even if it has been deleted before

[2015-01-22 11:39] marcosmenendez opened #108 "Changes in good-data achievements"
The summary of achievements at the good-data page should change to the following:

Company achievements
- Monthly Active Users
- Registered Members
- Monthly Visits Stored (count of visits done by our users that have been stored in our server last month)
- Monthly Threats Blocked (count of web threats blocked last month
- Monthly Queries Traded

Good investments
- Total Money earned (we should put

[2015-01-22 11:42] marcosmenendez opened #109 "Evil data page is not optimised"
When visiting the evil-data page, it takes several minutes to display the info. This unacceptable.

Lets evaluate all possibilities:
1. Caching some calculations (individual and company averages)
2. Calculating some of them in cron routines at off-peak time
3. Discarding to present some of those numbers, or present some others that are easier to calculate

[2015-01-22 16:58] marcosmenendez opened #110 "Make Principles look more visible"
Within the FAQs Mission statement (https://www.thegooddata.org/faq) Say:

"We help people to enjoy ownership of their data.
We want to do it following these Company Principles."

"Company Principles" should link to https://www.thegooddata.org/legal#rules

BTW, change title at the top with "TheGoodData Principles" and change it as well at the bottom right of this page https://www.thegooddata.org/ap

[2015-01-22 17:49] agonbar opened #111 "Create a log of database requests"
Try to find the requests to database that can use more disk and log them with an timestamp.

[2015-01-23 09:00] marcosmenendez commented on #98
Juan, have you added cookie information in the privacy policy as requested?

script should not only be added in the webapp, but in the collaboration and blog pages as well. Has it been added there as well?

[2015-01-23 10:06] #76 closed

[2015-01-23 10:08] #97 closed

[2015-01-23 10:29] #110 closed

[2015-01-25 19:07] marcosmenendez opened #112 "Remember sign in by default"
In the sign-in page there is a check box saying "Remember me". That box should be checked by default. https://www.thegooddata.org/sign-in

Sign-in from the extension does not have this check box, so should always remember the user unless he signs out

[2015-01-26 11:47] bodiapz commented on #88
Issue closed. I've tested on my local machines. And seems all fine

[2015-01-26 16:56] JuanMenendezBuitrago commented on #98
I fixed the error in the WP plugin settings and I think it works well now at least as far as inserting the link to the javascript is concerned. It recorded my visits but I didn't go deep into the rest of setting options which I will do next. There's another plugin available for Drupal that we could use for the OA pages.

About the cookies, I've identified 4 related to Piwik: PHPSESSID, PIWIK_SESSI

[2015-01-26 17:09] marcosmenendez commented on #98
In the privacy policy we need to:
1. mention all these cookies. Also the piwik_ignore mentioned here: http://piwik.org/faq/general/faq_146/
2. set this iframe so users can opt-out: http://piwik.org/docs/privacy/#step-3-include-a-web-analytics-opt-out-feature-on-your-site-using-an-iframe

[2015-01-26 19:01] agonbar commented on #98
Initially piwik was installed using the guide to avoid cookies, so using
them like it says in the guide should be imposible.

El Mon Jan 26 2015 at 18:09:56, Marcos Menendez (<notifications@github.com>)
escribió:

[2015-01-27 09:18] JuanMenendezBuitrago commented on #112
Just to be sure that I've understood. You just want to have the "remember me" option checked by default in the sign-in form, right?

I mean, the other thing you mentioned about having the extension always remember the user unless he/she explicitly signs-out, it's the current  behavior we have already implemented, isn't it? (I have signed in using the extension, closed the browser and reopened it a

[2015-01-27 09:33] marcosmenendez commented on #112
I didn't know about how the extension behaves. If this is the case, then yes, just check by default the web sign-in form

[2015-01-27 15:29] bodiapz commented on #109
The main problem in table tpl_browsing. Need to add indexes for this table. And the results will appear much faster. Also I've noticed couple more problems in DB normalization. This is bottleneck.

In fact, we often use domains in different tables. There a lot of duplicate records. Need to create new table with domains, and in all other tables we should use only ids.

It's allow to save a lot of s

[2015-01-27 15:48] marcosmenendez commented on #109
Let's do at least the indexing now. If you prefer leaving the rest until you feel more comfortable with the code, I'm happy either way.

If you change the names of the variables, I'd like to review them with you first. Some of them are written in a poor English and I would like to take the opportunity to correct them if possible. Not a big issue at all, but would like to do it if there is the chan

[2015-01-28 11:03] #112 closed

[2015-01-28 16:40] atrandafir commented on #88
I'm repeating here the comments I have did on your commit on this issue in case you missed them:

1. If you remember we talked that the configuration must be duplicated for all 4 configuration files and that you can create separate common files and include them. So please fix that, make sure the configuration is repeated in all 4 files otherwise when publishing to production or pre environment the

[2015-01-28 17:06] JuanMenendezBuitrago commented on #98
![cookies](https://cloud.githubusercontent.com/assets/5305439/5942483/369909f4-a718-11e4-95c6-4a7ce39c2a81.PNG)
![optout](https://cloud.githubusercontent.com/assets/5305439/5942519/64e28ed4-a718-11e4-9f94-69a13b105eb7.PNG)

[2015-01-28 17:13] marcosmenendez commented on #98
Opt-out message seems hidden since it is in the very bottom of the page. I may be misleading as well since it may be understood that you are opting out of every cookie in the page. Can we put it inside the last box that describe piwik cookies?

[2015-01-28 21:13] marcosmenendez opened #113 "Request for user email in case of Firefox or Safari"
At this point when a user ask to Get TheGoodData from a non-Chrome browser, he show a message saying that we are not yet there. We should as instead for his email.

This email will feed a segment in PHPlist called Firefox or Safari depending on the browser.

For other desktop browsers and all mobile browsers we will keep current message

[2015-01-29 11:07] JuanMenendezBuitrago commented on #98
![optout2](https://cloud.githubusercontent.com/assets/5305439/5956561/6c2a9442-a7af-11e4-974f-dc29c7d5822d.PNG)

[2015-01-29 11:11] marcosmenendez commented on #98
Good.

@agonbar could you give as an estimate of when can piwik work as requested at the top of the issue? (I guess standard installation will work since we are already hashing the IP Thanks

[2015-01-30 09:29] JuanMenendezBuitrago commented on #98
The OA module for Piwik is still pending. Is Jose still working on the OA side? I mean, the module has to be installed through an admin account or using features, and I think Jose suggested using features because it made unnecessary to dump/backup the database when pulling the code from git.

[2015-01-30 10:18] marcosmenendez commented on #98
@josereyero can you take care of this, please?

[2015-01-30 12:11] josereyero commented on #98
Ok, I'll give a try to the Piwik module, https://www.drupal.org/project/piwik

[2015-01-30 12:55] josereyero commented on #98
Could someone please send me the configuration for it? (Site ID, Piwik URL...)

Btw, this has a lot of other options: which roles to track -I'll assume all but admins-, track downloads, search keywords... Are we using some common options for all sites or should I just set some defaults?

[2015-01-30 13:47] JuanMenendezBuitrago commented on #98
Do you still need it? I was going to look it up in the settings but it seems like @marcosmenendez changed the login credentials so you better ask him directly.

[2015-01-30 17:10] JuanMenendezBuitrago commented on #98
Site ID shoud be: 3
And piwik URL: https://piwik.thegooddata.org

[2015-01-30 18:21] atrandafir commented on #106
This issue is more related to the extension than to the webapp, only the last paragraph in the description relates to the webapp.

@bodiapz let me try to explain to so you we better understand this task so you can work on it.

This is what is happening now in the Extension:

1. A user searches for something in Google
2. The extension detects the search and checks if the language of the user is sup

[2015-02-02 12:54] marcosmenendez opened #114 "Finetune new blog theme"
We have set up a new theme DW minion, but the following things need to be fine tuned:
1. Move calendar widget from left to right column. If I do it myself, other default widgets appear on the left.
2. Make links look blue by default (the same blue we use in our main site). Explained here: http://www.designwall.com/question/how-do-i-change-my-link-colours-on-the-entire-site/
3. Video screenshots ar

[2015-02-02 12:59] marcosmenendez opened #115 "Are we serving fonts properly?"
I've seen that proxima nova fonts usually take a long time to download. I wonder if they are properly installed in our server and if we can do anything to speed up the download. They should be used for all subdomains including www, blog and collaborate

It is not a big experience problem, but has some impact in SEO. I thought would be to use Amazon cdn or cloudfront just to serve the fonts.

If yo

[2015-02-02 21:58] marcosmenendez opened #116 "Update phplist segments with user data"
Update segments called "Member legal comms" (id=25) and "Pre-accepted legal comms" (id=24) with email of accepted and pre-accepted members of the webapp.

Everytime there is a change of status of any user, or there is a new user that is pre-accepted, those segments should be recalculated. For instance, when the user resigns, or when he pays his share

[2015-02-03 11:04] JuanMenendezBuitrago commented on #98
@josereyero , can you cha

[2015-02-03 11:09] JuanMenendezBuitrago commented on #98
@josereyero can you change the siteID to 1? and enable tracking across subdomains if there's such option available. I'll do the same in the blog plugin so that one siteID analyzes blog, www and collaborate ... and see what happens.

[2015-02-03 11:20] JuanMenendezBuitrago commented on #98
Which user roles do you want to track in the blog?
![filterpiwik](https://cloud.githubusercontent.com/assets/5305439/6019287/171d629c-ab9f-11e4-908c-6c9042d4269c.PNG)

[2015-02-03 11:25] marcosmenendez commented on #98
@JuanMenendezBuitrago it was already set up. Only subscribers should be tracked

[2015-02-03 17:44] atrandafir commented on #114
Note, there's a SSL issue with loading fonts.

We should specify font url with https. Or without protocol. '//'

[2015-02-03 17:52] atrandafir opened #117 "Test evil data with plenty information"
We should test the Evil data page again with a user that has a lot of information.

Once we see the results we should make review and a proposal for the modifications required in order to provide decent loading times on this stats page.

[2015-02-03 20:57] josereyero commented on #98
Ok, enabled in collaborate / production site with the following settings:
- Site ID = 1
- One domain with multiple subdomains
- Track All roles but admin & editor
- Disabled Track User ID
(There's some opt-out for user accounts, disabled)
- Enabled: Universal web tracking opt-out
- Set javascript scope to: Footer

Deployed along with some security update for a module.

Just wondering: should I add

[2015-02-03 21:17] agonbar commented on #98
Sorry, there was no conection in my phone while I was in openhost.
The cookies are set to use primary ones but block all the third party ones
like I said some emails ago. There should not need any change if everything
works.
The only task still pending is changing de geoip module to use the C one
instead the php, but I need to unify three config files so I'll do it while
resolving other task to co

[2015-02-03 21:41] marcosmenendez commented on #98
@josereyero the opt-out iframe that @JuanMenendezBuitrago should have to work for all subdomains including blog and collaborate. Does it work that way? If not, is there a way to make it work with one single opt-out?

[2015-02-03 21:42] marcosmenendez opened #118 "Detect and store user country in webapp"
We should change current IP masking mechanism so we can record the country code of the visitor either in the user table or in the transactions table (the 2nd one would be more accurate since there may be users moving from one country to another). In case we record it for each transaction I would update it daily, not calculating the country for every transaction. How to obtain the country code is e

[2015-02-04 09:50] marcosmenendez commented on #106
Hi @bodiapz could you explain if there was or not an error in the calculation of total and individual pieces of data contributed as explained in the last paragraph of the issue?

[2015-02-04 14:04] JuanMenendezBuitrago commented on #114
Are these the video screenshots that should be shown?

![capture-blog](https://cloud.githubusercontent.com/assets/5305439/6041691/0ac81948-ac7f-11e4-9eb9-d53872dec98d.png)

[2015-02-04 14:24] marcosmenendez commented on #114
Yes I added youtube iframe manually, because if pasted directly the youtube
url, video was not correctly embadded. However we can skip that bug about
the videos, since there is a workaround

*Marcos Menendez*
hangout: marcos@thegooddata.org
skype: marcosmenendez
tel: +44 (0)20 3289 0009
twitter: @marcmenen <https://twitter.com/intent/user?screen_name=marcmenen>
Unit 1, 82 Clerkenwell Road
London E

[2015-02-04 15:41] agonbar opened #119 "Return to first page on "Sites visited""
![image](https://cloud.githubusercontent.com/assets/1553211/6043462/9c87d6e0-ac8c-11e4-8ef3-8589e585e6aa.png)

[2015-02-04 15:42] agonbar commented on #119
There's a missing **1 ...** 19 20 21 22 23 ... 25

[2015-02-05 09:37] bodiapz commented on #106
Hi, it was summing all queries not just last month.
I have changed summing for just last month.
But I have question: it should summing up all queries for just current month or for last month (I mean current date minus 1 month)?

[2015-02-05 09:43] marcosmenendez commented on #106
It should sum las 30 days of non sensitive queries regardless of your language and wether we are storing them or not

[2015-02-05 10:15] bodiapz commented on #106
Now it summing queries from table tbl_queries (for last 30 days). I modified summing for all languages and committed.
What do you mean "storing them or not" ?

[2015-02-05 10:17] marcosmenendez commented on #106
Queries can be stored or not based on user preferences set up in the extension (have a look at the extension to see that button)

Please confirm as well that queries counted are the ones that contain non sensitive terms

[2015-02-05 10:32] bodiapz commented on #106
So we should summing all queries by user for every day and store this count (not depends of user preferences). That way we can calculate count of queries for last 30 days.

[2015-02-05 10:43] marcosmenendez commented on #106
No idea about how to implement. The one that is less costly in terms of resources. Does not need to be updated on the fly, daily is ok

[2015-02-05 15:36] marcosmenendez opened #120 "Error page and email"
Show standard error page and send email to info@thegooddata.org reporting about problem in url everytime there is an error with a page as in the image attached
![cexception](https://cloud.githubusercontent.com/assets/1178350/6063124/2ac2e922-ad55-11e4-86f8-27cebd055d95.jpeg)

[2015-02-06 11:47] atrandafir commented on #106
Hey, just to clarify things out. Storing them or not based on user preference is handled on the extension side. So it has nothing to do with counting in the webapp because in the webapp we only have those that user allowed storing.

Also yes, queries counted are those without sensitive terms, but again, that's because the extension won't send to the server a query containing sensitive terms so we

[2015-02-06 12:01] marcosmenendez commented on #106
@atrandafir does it mean that we are only counting those that we store? We should be counting all (the not sensitive ones) that we detect in the extension

[2015-02-06 12:12] atrandafir commented on #106
That's how it works now with the latest changes. We store all the non-sensitive queries.

[2015-02-06 12:19] marcosmenendez commented on #106
@atrandafir I'm not asking about which queries we store, but about which ones we count. The second number should not depend on user's decision to store or not the queries. Let's talk about this offline

[2015-02-06 13:57] atrandafir commented on #106
OK, closing this for now and we shall open new issue for anything related.

[2015-02-06 13:57] #109 closed

[2015-02-06 13:57] #88 closed

[2015-02-06 13:58] #98 closed

[2015-02-06 18:09] marcosmenendez commented on #114
A couple of comments:
- Title font in the detail page is still the old one. See here: https://blog.thegooddata.org/2015/02/putting-us-in-your-place/
- Regarding point 6, I've changed again the url of the blog in general settings, because if not all the url's were wrong. For instance the above one would have started with www
- Regarding 1, archive (not calendar) is the widget that has to be moved t

[2015-02-06 18:17] marcosmenendez commented on #108
Most of the changes are wrong. The numbers do not show what the title says (visits, queries, etc)

Please revert this change and show previous version until requirements are well understood and development is properly done

[2015-02-06 18:49] marcosmenendez commented on #101
Export does not work. Try here: https://www.thegooddata.org/user/admin/#

[2015-02-07 12:07] bodiapz commented on #108
Ok, I have reverted the changes

[2015-02-07 12:16] bodiapz commented on #117
I've tested 1.8 million records. So, in fact, calculation takes 4 seconds.
This calculation caching for user. It means, the user will have this delay only once per day. All other calculations (cached) will be performed at 200 ms.
I suggest add cron job, to calculate this data. But I need to know when we have low loading

[2015-02-08 06:07] marcosmenendez opened #121 "Improve download speed for SEO"
developers.google.com/speed/pagespeed/insights/

[2015-02-10 09:41] bodiapz commented on #82
As I understand, we should copy all categories tree localy, right?
Should we identify site category via Alexa API or other way?

[2015-02-10 09:58] marcosmenendez commented on #82
Yes, we should better copy all categories and subcategories locally, and then cross check the domains the user visitor against Alexa categorizarion.

I don't imagine other way to categorize besides Alexa. If you suggest a better way, I'm open to it

[2015-02-10 10:17] marcosmenendez commented on #82
Regarding the API, we have seen that using PHP for the APIs that connect webapp to the extension demands a lot of resources. Could we use node.js? Does it makes sense? Do you have experience on it?

[2015-02-10 12:52] bodiapz commented on #108
I have fixed, please check

[2015-02-10 12:57] marcosmenendez commented on #108
Where can I? It is not in pre, and in fact pre does not have enough data @agonbar has to copy at some point database as issue #56 says

@atrandafir , can you check the code please?

Thanks

[2015-02-10 14:59] atrandafir commented on #108
@marcosmenendez yes I'll try to check, but even if I try it locally if we are going to keep using pre we should ask @agonbar to look into issue #56 and provide me with sufficient access so I can copy the database from prod to pre at any time we need it

[2015-02-10 16:59] bodiapz commented on #82
I'm not feel comfortable with node.js and I'm not really sure the node.js will improve performance.
I suggest grab site category in extension, using user resources, and send into webapp API site name and category.
If will you approve this way I learn how to do this.

[2015-02-10 17:22] marcosmenendez commented on #82
@atrandafir can you share your thoughts on this? Not sure that I understood well, but if we are going to store all Alexa categories in the extension, and we sum up sensitive keywords storage, we may be demanding too many user resources, wouldn't we?

@bodiapz how big is that database?

[2015-02-10 18:41] atrandafir commented on #82
Hi both,

I took a look on the API link you provided and as far as I can see that API provides just information about a domain, and not even the category.

I cannot see a way of getting all Alexa categories unless there's other API.

So first we should make sure of the third party service we're using to identify websites categories and:
1. See if they provide a full categories list that we can dow

[2015-02-10 20:30] marcosmenendez commented on #82
Alexa provides the info and it is the best source for that. That's the reason I'm requesting it.

Agree with @atrandafir approach with one caveat: Alexa does not classify all websites, just the largest ones, so there should be 2 status for domains: Null and NA (Not available) so we don't keep on requesting the category for a domain that they do not cover.

[2015-02-11 12:45] agonbar commented on #108
@marcosmenendez in order to install a regular backup of the database we
need to save it in a different server, either Amazon or an unused one ir
our network. This should be decided in a call as is quite long and
complicated.
For now, the developers can export the database and load it on pre with the
mysql command, or is that a problem (I can create a script for that if it's
too complicated)?

El T

[2015-02-11 12:56] marcosmenendez commented on #56
It is not a frequent backup. It is a one-off backup that we do once in a while so we can test developments against real data properly.

We should hash all Members PII data and use a stronger username and password than current one for admin.

@atrandafir could you do it manually as @agonbar is proposing or should it better be done by him?

[2015-02-11 12:57] marcosmenendez commented on #108
I've responded to @agonbar comment on the issue #56 he is referring to. read here: https://github.com/thegooddata/webapp/issues/56#issuecomment-73876628

[2015-02-11 13:55] atrandafir commented on #56
@marcosmenendez yes I can do it manually but as I commented on 24 Sep 2014 if you look above I have problems restoring the database because on pre the restore command is not installed on the system and if I try to connect from prod where it is installed the prod host is not allowed to connect to pre database, so please @agonbar provide me with a solution :)

I guess installing pg_restore command i

[2015-02-11 14:01] agonbar commented on #56
But you can import an .sql with the MySQL command directly
mysql -uuser -p database < /dir/file.sql
Or is not installed the MySQL client?

El mié, 11 de febrero de 2015 14:55, Alexandru Trandafir Catalin <
notifications@github.com> escribió:

[2015-02-11 15:00] bodiapz commented on #82
As I understand:
1. We copy all categories tree locally
2. Every a new site stored in some new table with "category = NULL"
3. Every day cron update categories via Alexa API
4. Other cron every day recalculate "visited" counter for each category

Am I right understood?

[2015-02-11 15:07] marcosmenendez commented on #82
Unless you propose something different @bodiapz
But my comment is still missing, don't request everyday the category of those sites that Alexa do not cover. Do it as you want

[2015-02-11 16:06] atrandafir commented on #56
We are using Postgre for the webapp, forgot about that?

[2015-02-11 17:10] agonbar commented on #56
Completely, i'll install the pg_restore command, it should be in an hour.

El Wed Feb 11 2015 at 17:06:38, Alexandru Trandafir Catalin (<
notifications@github.com>) escribió:

[2015-02-12 08:34] bodiapz commented on #82
Problem while importing categories... Alexa bans my IP very often. I'm jumping through VPNs, and I've set timeout 10 seconds between scanning.

But there are millions of categories, so in fact with 10 sec timeout it will scan around few months. Maybe, not need grab all category tree, just top categories level, and few (3 - 4) sublevels.

For example

All Categories > Science > Biology > Flora and

[2015-02-12 10:13] marcosmenendez commented on #82
Yes please. Do so

On Thursday, February 12, 2015, bodiapz <notifications@github.com> wrote:

--

*Marcos Menendez*
hangout: marcos@thegooddata.org
skype: marcosmenendez
tel: +44 (0)20 3289 0009
twitter: @marcmenen <https://twitter.com/intent/user?screen_name=marcmenen>
Unit 1, 82 Clerkenwell Road
London EC1M 5RF

[2015-02-12 19:24] marcosmenendez commented on #82
@bodiapz When you manage to download that list, please send me the csv to take a look. Just curious.

If you are still having problems getting it, please tell me and I'll ask some people that did it in the past.

[2015-02-13 12:54] marcosmenendez opened #122 "Send all mails via Amazon"
Currently, mails to users and admin are sent via zoho smtp. This is not the best option, since many time those mails end up in the spam folder.

Change smtp settings to SES or use mail command to send them via postfix

[2015-02-14 15:46] JuanMenendezBuitrago commented on #114
Some changes can't be done without touching the files. Maybe creating a theme based on the current one but I would have to learn whether that's possible or not and how to do that. Check the design as it  is right now and tell me if it's correct.

[2015-02-16 20:37] marcosmenendez commented on #114
It is fine as it is for now. Could you just undo one thing? I've seen that there is no way now to go back to the blog home, so we better point TGD icon to blog, instead of www.

With that, it can be closed

[2015-02-17 08:44] marcosmenendez opened #123 "Problem uploading images"
If I want to edit a loan details, image is not properly shown in the admin view (although it is shown in the users view). See here https://www.thegooddata.org/loans/update/11

If I want to upload the image again, I receive the following error:
![screen shot 2015-02-17 at 9 43 57 am](https://cloud.githubusercontent.com/assets/1178350/6225378/94d36480-b689-11e4-919a-1c4838dd7f8b.png)

[2015-02-17 08:59] atrandafir commented on #123
Looks like a permissions issue, I would have @agonbar take a look at it.

[2015-02-17 09:24] marcosmenendez commented on #60
Money available for microloans should not include expenses. That means that it equals
Sumation of ((income - expenses) * money reserved/100)

[2015-02-17 11:08] atrandafir commented on #108
@bodiapz just checked this and looks fine to me

[2015-02-18 10:48] JuanMenendezBuitrago commented on #49
I've finished an UpdateRates command now that will update the rates in currencies table with the rate of the GBPXXX pair, being XXX the code of the currency in the currencies table. A cron job should be added so that it calls this command in the following way (if from TGD folder):

$ protected/yiic UpdateRates

[2015-02-18 10:51] JuanMenendezBuitrago commented on #101
It was related to #88 as there was a missing file which I have uploaded recently.

[2015-02-18 11:56] JuanMenendezBuitrago commented on #49
@atrandafir take a quick look at it if you have the time.

[2015-02-18 14:11] marcosmenendez opened #124 "Calculation of daily totals to optimize requests"
Evil data, good data and your data require to access plenty of dynamic data. Even if it is indexed or cached, it is not scalable.

An extra action would be to calculate and store daily subtotals of the different metrics, so whenever a user request a page, only the new data has to be counted and summed up to the previously calculated subtotals. These subtotals will need to be stored for the last 30

[2015-02-18 14:12] marcosmenendez commented on #117
Optimization effort has been focused on the domains visited.

Same to be done with the rest of the tables requested in that page: adtracks, search queries, etc Probably some more indexes need to be built.

Other optimization actions (like calculation of daily totals) will be addressed in separate topics like #124

[2015-02-18 14:46] marcosmenendez commented on #123
@agonbar please take care of this. It is not extremely urgent, so we can wait till next week. Please be sure that we have no more issues with permissions

[2015-02-18 17:13] JuanMenendezBuitrago commented on #122
@agonbar , @atrandafir : Are we Amazon EC2 users? or do we have  a smtp server running in our server? I either case I would need to know the credentials to change the configuration in config.php.

[2015-02-18 19:05] atrandafir commented on #122
@JuanMenendezBuitrago I have no idea if we have Amazon EC2 account. Maybe @marcosmenendez  knows better if we do or don't.

As for now as Marcos says, we're using Zoho smtp. As for local SMTP I don't know if we have it.

[2015-02-18 19:09] marcosmenendez commented on #122
I've shared with @JuanMenendezBuitrago  Amazon SES credentials

[2015-02-18 20:18] atrandafir commented on #49
@JuanMenendezBuitrago it looks fine to me, haven't tested it locally but the implementation looks correct. A quick note, since you're creating a console command, you could use "echo" to print some information about what is going on. Like..

    echo "Currency {$code} was updated with value: {$value}\n";

You could also optionally create a command param with name "debug" and set it by default to 0,

[2015-02-18 20:20] atrandafir opened #125 "After deploy 18 February 2015"
Cronjob should be added for:
protected/yiic UpdateRates

New config constant should be added to config.php to enable slow query log:

    /* enable slow_query log */
    const SLOW_QUERY_LOG=true;

Enable cron job for: GoodEvilDataCache

Check that PHPlist constants are properly defined in config files.

Check variable $local_config['YII_DEBUG'] is properly defined.

Add constant in config to hide

[2015-02-20 08:45] marcosmenendez opened #126 "Implement Bitcoin via Stripe"
Stripe accepts now payments with Stripe, we should evaluate if it is worth changing Bitpay to Stripe both in donations and share purchase process.

http://venturebeat.com/2015/02/19/stripe-finally-launches-support-for-bitcoin/

The best option would be to force that 1p payments are done by BTC only, instead of letting the user choose among currencies.

Please investigate and propose a way to imple

[2015-02-23 09:55] agonbar commented on #123
To solve all the permission problems and improve the security, the best option would be to change all the ownership of all the web files to www-data.
In order for this to work the devs need to change the capistrano formula to do a "sudo su www-data" before each deploy, just at the beginning.
Please confirm as soon as possible to proceed or not with the change.

[2015-02-23 12:23] marcosmenendez commented on #122
shared/config.php file changed and commented in pro. @atrandafir to accept commented changes and close the issue

[2015-02-23 15:20] marcosmenendez opened #127 "Improve internal emails formatting"
Formatting of emails sent by our system could be improved according to mail-tester.com to avoid spam filters
![screen shot 2015-02-23 at 3 14 42 pm](https://cloud.githubusercontent.com/assets/1178350/6330351/676deb24-bb6f-11e4-8efb-6e1f821d6ed8.png)
. Improvement areas attached.

[2015-02-24 18:04] JuanMenendezBuitrago commented on #113
OK, I've been figuring out how to implement this and other similar issues and I'm almost done with it. what I need to know is what you understand as "segment" as I can't find anything called "segment" in PHPList. Do you mean that the user email should be added to a list depending on the browser he/she is using (either to a Firefox list or to a Safari list) so that they can be notified in the futur

[2015-02-24 19:14] atrandafir commented on #115
For me they seem loading properly so I'm not sure if we should bother to move them to a CDN.

As for download speed, maybe on slow connections the fonts take longer to load but that would happen with any font.

Right now the webapp loads 160kb of fonts. Looks there are 4 versions of the font and each of about 40kb:

- ProximaNovaSoft-Medium
- ProximaNovaSoft-Semibold
- ProximaNovaSoft-Bold
- Proxi

[2015-02-24 20:56] marcosmenendez commented on #115
Ok. If you think it is not a big issue I'd implement the lowest effort ones. Maybe 2 & 3?

It happened to me that I got the message saying it was waiting for the fonts, but since we don't depend on SEO it is not a big deal. Your call

[2015-02-24 21:04] marcosmenendez commented on #113
Yes, they call them lists. I've created the 2 lists already

[2015-02-25 11:08] atrandafir opened #128 "Enable gzip for font files on nginx"
This issue is related to #115

For each font we use there are three files, ttf, wof, eot but only one is loaded depending on browser support.

Woff is compressed by default but the other 2 tyes used by older browsers could benefit in download speed if the webserver uses gzip on them.

Found this tutorial explaining how to make nginx gzip the fonts:
http://blog.bigdinosaur.org/gzipping-at-font-face

[2015-02-25 11:16] atrandafir opened #129 "[blog] Change url of webfonts.css to load them from webapp"
Right now we use the same fonts on webapp, blog and collaborate, but the font files are repeated in each application.

That means that a user visiting first webapp and then blog, and then collaborate, will load the fonts 3 times.

To avoid that we should modify the theme to load the css from webapp:
https://www.thegooddata.org/themes/tgd/css/vendor/webfonts.css

Instead of the one from the theme f

[2015-02-25 11:28] atrandafir commented on #115
Okay, just created separate issues that would do point 2) and 3) and assigned them to the corresponding team members.

I'll close this issue now. If you think we should keep it open just open it again.

[2015-02-25 11:28] #115 closed

[2015-02-25 11:35] atrandafir opened #130 "[blog] requested an insecure stylesheet 'http://fonts.googleapis...'"
If you open the blog with Chrome js console open you'll see the error in the title.

Cause by loading this over http instead of https:
@import url(//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700);

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);

(from main.css)

The fix would be either:
1) Change urls to https:// if we will always work on https
2) Or maybe

[2015-02-25 11:39] marcosmenendez opened #131 "Update phplist"
When logging in, php warns that there is a newer version of it. Not sure if it is worth upgrading or not, or if it is something that we can do in the web ourselves.

If not please go ahead. Check that everything works after update

[2015-02-25 11:40] agonbar commented on #128
Fixed and checked.

[2015-02-25 11:40] #128 closed

[2015-02-25 11:51] agonbar commented on #131
Updated.

[2015-02-25 15:17] atrandafir commented on #118
@marcosmenendez I've just assigned this issue to myself.

As to reply to your latest email on this task:

There is no table where we store extension preferences of anonymous users.

There IS a table where we store ext. preferences for registered members so preferences get restored when they login again.

And.. there IS a table of ACTIVE USERS. This table was created in order to track how many user

[2015-02-25 17:55] agonbar commented on #123
As the devs decided to maintain the tgd user on deploys, the folders that need to be writen are set to 777 and the files to 644, thus solving the problems.
A note for the future, if another folder will be used for writting from the server, ask the sysadmins to set the permissions to 777 before using them.

[2015-02-25 17:55] #123 closed

[2015-02-25 18:00] marcosmenendez commented on #118
Fine for me. Yes, the idea is to build some analysis in the future based on that data and present it.

[2015-02-25 18:13] atrandafir opened #132 "Fix loan image url in admin"
@JuanMenendezBuitrago assigning this to you because I think you did add the loan_identifier as a prefix of the image when uploading.

I saw that on the Good data page the images show correct:

    <?php if(file_exists(Yii::app()->getBasePath()."/../uploads/".$loan->loan_identifier."-".$loan->image)): ?>
                                <img src="<?php echo Yii::app()->baseUrl."/uploads/".$loan->loa

[2015-02-27 12:30] marcosmenendez opened #133 "A couple of improvements with loans"
Whenever I save some new details in a loan, the last update date should be updated to that moment.

In the good data page, when the title of a loan is too long, the sector end ups falling beneath the picture, while it should be aligned with the title
![screen shot 2015-02-27 at 1 26 17 pm](https://cloud.githubusercontent.com/assets/1178350/6412483/afc3e6ae-be84-11e4-8246-87cd246fe608.png)

[2015-02-28 12:03] marcosmenendez commented on #114
We are not using the same colour palette as in our website. Blue links in the blog are darker than in the website. Default grey text colour in the blog is also brighter than in the website, so it is hard to differentiate between text and links.

To get the right colour of the links and texts use for instance this page were there is a link to disconnect.me https://www.thegooddata.org/product

[2015-02-28 13:41] josereyero opened #134 "Existing user sessions not deleted when user account is blocked."
When a user account is blocked/disabled, existing user sessions are not deleted, thus the user can still access the site provided he/she was previously logged in.

I've fixed this on the 'collaborate' side by checking account status for every page load, but I guess this should be fixed in the webapp too.

[2015-03-01 19:27] JuanMenendezBuitrago commented on #116
So far, I've implemented the changes in  the following user status: APPLIED, PRE-ACCEPTED and ACCEPTED. I can create the PHPList lists for the rest of status if you want, and implement the rest of changes.

[2015-03-02 08:17] JuanMenendezBuitrago commented on #113
This issue is implemented in pre. I've created two lists (Safari - test and Firefox - test) in PHPList in order to make the tests.

[2015-03-02 09:55] marcosmenendez opened #135 "Several mistakes in your-data page"
If you enter as an admin you will see that:
1. The number of pieces of data contributed shown in the webapp, is different than the number shown in  the extension. That happens because tha webapp only shows the number of data pieces traded AND stored, while the extension shows the number of pieces TRADED regardless if we store them or not. The extension number is the right one. Please be sure that

[2015-03-02 10:40] marcosmenendez commented on #87
I add here a screenshot of how this interest should be calculated in my opinion. Open to discuss specially if we think that it may cause unnecessary server resources
![interest calculation](https://cloud.githubusercontent.com/assets/1178350/6439185/948198ac-c0d0-11e4-8132-1a2f9711d6b8.jpg)
It basically calculates the interest of a person on a given category looking at the percentile that person is

[2015-03-02 10:58] marcosmenendez opened #136 "[Interest] Visualize user interests"
We should create a new page called "interests" (url=interest) that should be accessible both from the top bar and drop-down menu.

At the top it should contain a text saying "These are the topics we think that you may be interested at based on your last 30 days browsing history. It may not be very different than what data brokers and advertisers think about you. In the future we will try to feed t

[2015-03-02 11:50] marcosmenendez commented on #116
No need for applied. Just pre & accepted. Should be based on changes on database, not triggered by website or extension actions. Please ask Alex to implement properly

[2015-03-02 18:24] marcosmenendez commented on #20
@bodiapz I realize that @JuanMenendezBuitrago has created a couple of phplist segments in issue #116 In fact the 2 segments that you should create in this issue are a copy of those, but taking out the users that have market not to receive a newsletter.

Please talk to each other to be sure that you are aligned

[2015-03-02 18:46] marcosmenendez opened #137 "Manual input to user seniority levels"
As described in issue #68 and here https://collaborate.thegooddata.org/people/documents/user-seniority-and-risk-levels there are some seniority levels calculated based on their activity. We should:

- Include a new level called "director", use the same icon as the collaborator for the time being
- create an admin view where we can assign a colour to each level, change name and/or icon
- let admini

[2015-03-02 18:59] marcosmenendez opened #138 "Changes in about-us page"
Before doing this issue, implement issue #137

We should change the bottom part of the page, taking out the "our way" and including a new section as drawn hereafter with people's avatars linked to their webpage (if they have added it in their profile). It should display pictures of all members that have provided a picture on a pseudo-random order. Every time the user clicks on the "more" button at

[2015-03-03 08:39] bodiapz commented on #135
Hi, can you check pagination once more because I think its working well.
![pagination](https://cloud.githubusercontent.com/assets/10200349/6458860/3a672078-c191-11e4-9a71-be6108165027.jpg)
If you see that pagination is wrong please tell me what browser you use.

[2015-03-03 08:58] marcosmenendez commented on #135
If I jump directly from first page to last page, it does not show me again the first page
![screen shot 2015-03-03 at 9 58 06 am](https://cloud.githubusercontent.com/assets/1178350/6459132/da01d688-c18b-11e4-96d9-5b95799bad89.png)

[2015-03-03 11:14] atrandafir commented on #134
Indeed I believe there is no check on the database after the user is already logged in.

We can add that to the user component, do a check on the user table and apply the same rules as in the login form.

[2015-03-03 12:51] atrandafir commented on #125
Did the above 3 things in pre-production.

[2015-03-03 13:21] atrandafir opened #139 "Js error on Evil-Data page"
Uncaught TypeError: Cannot read property 'value' of undefined

I'm testing on:
https://pre.thegooddata.org/evil-data

Logged in with admin user and I get a javascript error.

I think this error is only when user doesn't have certain data.

But I think anyways we must test this and correctly test all the javascript variables before accesing them, or either always provide the json keys for that valu

[2015-03-03 14:43] agonbar commented on #92
To solve the problem I need either a google mail acount (gmail, google services) or any smtp server with an account (the mails will only go to Marcos, so there's no need to use Amazon SES).
@marcosmenendez  please send me an email as soon as possible with username and password.

[2015-03-03 14:48] marcosmenendez commented on #92
You can use Amazon SES

[2015-03-03 14:54] agonbar commented on #92
Ok, i'll configure it then.

El mar., 3 de marzo de 2015 a las 15:48, Marcos Menendez (<
notifications@github.com>) escribió:

[2015-03-03 15:20] agonbar commented on #56
@marcosmenendez  I'll need a little bit more detailed information on the new issue, thank you.

[2015-03-03 15:27] marcosmenendez commented on #56
It is an old issue with a new name. @atrandafir is going to take care of it

[2015-03-03 17:26] JuanMenendezBuitrago commented on #114
I've changed the colors in links and body to match the webapp. I thought we were talking about the other blue. The blue in the logo. Or do you want me to use the dark blue for the titles and a lighter blue for the links?

[2015-03-03 17:30] marcosmenendez commented on #114
Something that is consistent with the site and looks good

[2015-03-03 21:03] marcosmenendez commented on #108
It is not fine. There should be 5 items per column. First column has 6. Please review that items are the ones requested in terms of naming and of content

[2015-03-04 08:18] bodiapz commented on #108
This changes was rewritten after yesterday marge. I have fixed it and commited again.

[2015-03-04 11:16] JuanMenendezBuitrago commented on #107
@atrandafir Should we use the ExtensionSettings model+table to store this preference as we do with the "store navigation" extension option? Or should we create another model+table to store webapp user settings ?

[2015-03-04 11:18] atrandafir commented on #108
Hello both, I apologize to you all, it looks like the merge I've done yesterday affected negatively on some of the files.

A while ago when we deployed to production the minScript extension, it gave us problems so in order to fix them quickly I did the changes directly on master.

That's why yesterday I've decided to bring those changes back from master to develop so we have the latest code on dev

[2015-03-04 11:27] atrandafir commented on #107
First of all, should we remove that? I mean, it doesn't look bad to me, the message that it displays I think it could be a fixed part of that page, not an optional one, what do you think @marcosmenendez ?

I personally like the message and we could just remove the close button and leave it always visible.

But if you think it should not be there forever we should either:
1) Don't show it again per

[2015-03-04 11:54] atrandafir commented on #108
Update: Just did the new deploy to pre so you can check it again.

[2015-03-04 12:32] agonbar commented on #92
This has been solved and tested with marcos, closing the issue.

[2015-03-04 12:32] #92 closed

[2015-03-04 13:35] marcosmenendez commented on #107
Can we just keep that info in the cookie? Please, make it simple

On Wed, Mar 4, 2015 at 12:27 PM, Alexandru Trandafir Catalin <
notifications@github.com> wrote:

[2015-03-04 15:13] JuanMenendezBuitrago commented on #126
Do we have a US bank account?

[2015-03-04 15:29] marcosmenendez commented on #126
No. Issue postponed then

[2015-03-04 15:43] JuanMenendezBuitrago commented on #130
I changed the imports to // alone removing the protocol.

[2015-03-04 15:43] #130 closed

[2015-03-04 18:36] atrandafir opened #140 "Setup Access-Control-Allow-Origin in nginx for our subdomains"
There are two issues related to loading the same font files from webapp, blog, and collaborate:

https://github.com/thegooddata/webapp/issues/129
https://github.com/thegooddata/social/issues/40

@JuanMenendezBuitrago and @josereyero tried to include the fonts fron www.thegooddata.org and they both ran into the same problem:

Font from origin 'https://www.thegooddata.org' has been blocked from load

[2015-03-04 21:06] marcosmenendez opened #141 "Update web trackers"
TGD web trackers are based on disconnect.me file, but grouped on a different way. We should set up a tool to compare both files and list the trackers that have been added or that have drop out of disconnect list. Files to compare are:
https://raw.github.com/disconnectme/disconnect/master/firefox/content/disconnect.safariextension/opera/chrome/data/services.json
https://github.com/thegooddata/exten

[2015-03-05 11:10] JuanMenendezBuitrago commented on #133
Regarding the update date, there are two dates when viewing the loan details which I don't know if they're redundant: updated_at and loan_update. The one that get's updated every time that the loan is updated is updated_at. I don't know the purpose of the other one.

[2015-03-05 11:18] marcosmenendez commented on #133
They are redundant. Keep the one that is automatically updated and include it in the loan view (not editable)

[2015-03-05 17:20] agonbar commented on #140
I'm familiar with Access-Control-Allow-Origin when working with json APIs. Isn't there any alternative? Like having the fonts in both places, using CORS or doing it like JSONP does, activating Access-Control-Allow-Origin should be our very last option, as is not recomended by the w3c because there are various ways around it and can be a potential breach in security.

[2015-03-05 17:29] atrandafir commented on #140
Well if it is a headache or possible security problem we can just forget about this for now since it has minor importance and so cancel the two related issues and leave the fonts repeated in each application.

So yes we can have them in both places there's no problem, just wanted to save some bandwidth for mobile devices but as I say I think it has too little importance and we should not waste too

[2015-03-07 09:27] marcosmenendez commented on #119
I assume it is tested (I cannot test in pre since there is no data), but it is not closed since it is not in production. So reopen it until deployed

[2015-03-07 09:39] marcosmenendez commented on #82
@bodiapz I don't see a link to access this table in the admin site as requested

[2015-03-07 09:49] marcosmenendez commented on #113
@JuanMenendezBuitrago this is not working. I first put a text (not email) and nothing happened after the send. Then I put an email and the form was coloured like if something was happening but without any text asking to wait and with anything actually happening after several minutes. Screenshot attached.

![screen shot 2015-03-07 at 10 46 46 am](https://cloud.githubusercontent.com/assets/1178350/6

[2015-03-07 09:51] marcosmenendez commented on #124
@atrandafir I assume you will test it. I cannot. Please change status once done

[2015-03-07 15:36] marcosmenendez commented on #137
@bodiapz I didn't as to be able to change the definition of each level in this level panel. I didn't because it is quite difficult and it is not just a matter of percentile or Membership. The way they are actually defined in preproduction is wrong.

There are 2 alternatives:
1. You keep this variable out of the panel and you make sure that the formulas stay like the old version
2. You put the righ

[2015-03-07 15:40] marcosmenendez commented on #139
I can only test that there is no error without data, but I cannot test that it works well with real data.

@atrandafir create that fake data please and test that this page is still working properly with data

[2015-03-07 17:06] JuanMenendezBuitrago commented on #113
I've tested for empty values and wrong format strings  and it works fine. I would suggest to change the message shown after a successful submission for something more suitable.

[2015-03-07 17:51] JuanMenendezBuitrago commented on #116
If you want to implement this as low-level and close to the database as possible, the only solution I can come up with is using triggers but I'm not sure how to do it. I guess I should implement a trigger on update that could use the REST API to update the PHPList values depending on the old and new status of the user being updated. Probably I should use pl/php to write the function and do a curl

[2015-03-07 19:02] marcosmenendez commented on #113
It works now, but it didn't before, so I suggest setting a time-out (10 secs) and a message saying "Opps, something went wrong. Please try again later."

Regarding the success message, use the same we had for early access:

"Thanks!

We'll send you an invite once we're ready.
For frequent updates, follow us @thegooddata"

[2015-03-07 19:06] marcosmenendez commented on #140
Agree. It is not high priority. I set it as postponed

[2015-03-08 08:29] marcosmenendez commented on #135
I cannot test it without data. I pass it to @atrandafir to test or to fill with data

[2015-03-08 08:42] marcosmenendez commented on #108
Doesn't work. I've updated the income and the loan table but the numbers shown in good-data page have not been updated

[2015-03-08 09:11] atrandafir commented on #108
One things comes into my mind. I think this data has been cached by @bodiapz so that's why you might not see any change in the same day.

[2015-03-08 09:43] marcosmenendez commented on #108
Yes, that's what I thought. But caching income and loans is pointless. Visits, threats and queries may make sense. Not the rest.

[2015-03-08 19:51] JuanMenendezBuitrago commented on #133
I've deployed to pre and tested it. Created a a new loan, updated .. etc and everything looked right.

[2015-03-08 20:06] JuanMenendezBuitrago commented on #113
I've deployed to pre and tested for errors and successful cases. Everything looked fine but some fresh eyes will be appreciated.

[2015-03-09 08:29] bodiapz commented on #108
Yes, Alex right. Loans is cached. So no problem for me to remove income and loans caching.

[2015-03-09 08:38] bodiapz commented on #82
Marcos you are right, I've missed this table. I will provide it in closest time.
But I have a question here. How should look translation functionality? I mean you want to be able to translate any category to any language?

[2015-03-09 08:59] bodiapz commented on #87
Marcos, we already discussed this, but I'm confused on one line. Line 36|55|.......|28|.
All other I understand totally, but on this line I have doubt. Can you write to me again how we should calculate this numbers.

Thanks in advance

[2015-03-09 09:04] marcosmenendez commented on #82
Yes. Just the category name. We will only use English at start, but should
be ready for international
On 9 Mar 2015 08:38, "bodiapz" <notifications@github.com> wrote:

[2015-03-09 10:14] bodiapz commented on #137
Ok, so this all fixed. And I've tested it very crefully, and seems all works fine now

[2015-03-09 10:15] bodiapz commented on #108
Caching of loans removed. Changes appears right after change

[2015-03-09 11:43] bodiapz commented on #82
I've done only viewing table. For multi language I need to know how we will implement multi language support. Is there will be some i18n plugin, or we will manually develop functionality.

[2015-03-09 12:29] bodiapz commented on #54
I'm doing like @josereyero said. I will truncate user privat data, and put there Deleted user # mark

[2015-03-12 12:35] marcosmenendez commented on #87
Bodia, that's the percentile comparing the percentage of time spent to all other users.

The fact that a user spend, let's say 5% of the time watching sports site is not meaningful if we don't compare it to the other users. Let's imagine that there are 50 users that spend below 5% of their time in sports sites and 50 other users that spend more than 5%. That would mean that this user is percentile

[2015-03-12 17:18] marcosmenendez opened #142 "Stop sending admin data to piwik"
In piwik, if you go to action/pages, and you review last month data, you can see that it is a bit of a mess.

There is plenty of data generated in admin pages, both by the webapp, blog, and probably collaborate. We should avoid recording this data.

Check as well that it works well with blog, website and collaborate. Do some visits and confirm

[2015-03-13 09:13] bodiapz commented on #87
Thanks. I've done like you've described. I hope this time my commit will be
good

2015-03-12 14:35 GMT+02:00 Marcos Menendez <notifications@github.com>:

[2015-03-16 11:27] marcosmenendez commented on #56
We have agreed that @atrandafir will set up a cron job to create fake data daily

[2015-03-16 11:40] marcosmenendez commented on #114
I've seen that we have installed a plugin called "use any font" This plugin inserts 3 Automatic cookies. Can we do whatever this plugin does without adding more cookies to the blog?

[2015-03-16 11:45] marcosmenendez commented on #138
@bodiapz @atrandafir when we upload this issue to preproduction, can we do it on a separate branch? Since we will need some design done I wouldn't like that it blocks the other issues from being deployed.

This afects issue #136 as well

[2015-03-16 12:30] marcosmenendez commented on #54
Need to delete it. We cannot keep data that should have been deleted

[2015-03-18 09:50] bodiapz commented on #107
As you said, I used cookie

[2015-03-19 18:36] josereyero opened #143 "Server Error when trying to get data from deleted accounts (SSO backend)."
Getting a server error from collaborate side when polling for user accounts that have been deleted on webapp: EXCEPTION 500:Internal Server Error

No functionality is affected, since this is not something that shouldn't happen as per our normal workflow (accounts are meant to be never removed, just marked as deleted / personal data cleaned up).
However I think this condition (polling for account t

[2015-03-19 18:39] josereyero commented on #54
@marcosmenendez,
Well, the idea is we do delete user data, though we are keeping the "account" (as a number without personal data) for reference and synchronization purposes.

[2015-03-21 15:40] JuanMenendezBuitrago commented on #124
Sorry, the commit I made was for issue #142, not for #124. Ignore the reference.

[2015-03-21 15:42] JuanMenendezBuitrago commented on #142
I removed the tracking code from the admin pages. In the blog, Piwik is configured so it doesn't insert the code in the admin pages and in OA I don't know if the same option is available. @josereyero can check that out.

[2015-03-22 16:26] JuanMenendezBuitrago commented on #114
I thought this plugin was disabled. It's not necessary so I removed it.

[2015-03-22 16:26] #114 closed

[2015-03-23 10:26] agonbar opened #144 "Shrink mon due to low usage of current server"
On monday's 23-03 night, at 03:00 there will be a transition on mon in order to reduce the cost of the platform.

[2015-03-23 19:12] marcosmenendez opened #145 "Membership details bugs"
This is a follow-up of issue #20 regarding improvements to be done in membership detail page:

1- Image upload does not work. I've uploaded a png image, pressed on submit, and a blank page appeared. I went back and I saw a corrupted image as attached:
![screen shot 2015-03-23 at 7 06 40 pm](https://cloud.githubusercontent.com/assets/1178350/6788190/cc216bbe-d18f-11e4-8d22-cc883587071a.png)

2- Onc

[2015-03-23 19:14] marcosmenendez commented on #20
There are still bugs here, some of them should have been identified with minimum self testing. But since we cannot delay any longer the deploy, I'm going to mark this one as ready to deploy. I've added those bugs on issue #145

[2015-03-23 19:16] marcosmenendez commented on #116
@atrandafir and @bodiapz, you have been asked for opinion, so please respond even if you don't have any. This issue is linked to #145 so I'll assign both to @bodiapz

[2015-03-23 19:25] marcosmenendez commented on #139
Have you tested it @atrandafir ? Once done, please confirm here, close and deploy

[2015-03-23 19:43] atrandafir commented on #116
Hi everybody, sorry I have missed the mention on this issue.

My feedback on the approach of keeping PHPList segments updated based on user data:

- What @JuanMenendezBuitrago developed so far I think it is great I mean we already have a basic way of how it must work and the way to communicate with PHPList.
- But since we want it to be always updated no matter from where we modify I would remove a

[2015-03-23 19:52] marcosmenendez commented on #138
1. super users should not appear in the "people". It doesn't make sense to have a picture of an "admin"
2. I requested to leave the first paragraph in people, not the second one. Anyway, please put the following test: "TheGoodData is 100% owned by its users. Users become shareholders by simply requesting it. In doing so, TheGoodData interests will always be aligned with yours, which means we’ll ne

[2015-03-23 20:03] marcosmenendez commented on #137
I've noticed that you have changed the logic of urls in the admin site. Seniority levels are in https://pre.thegooddata.org/admin/seniorityLevels while other links in the admin view have the opposite order (https://pre.thegooddata.org/browsing/admin). I know that yours makes more sense, but please be consistent. Either change senioritylevels, interest categories and slowqueries, or change the othe

[2015-03-23 20:09] marcosmenendez commented on #113
In safari I entered an address without a proper email format, I got the error message. Then I wrote a proper address, clicked on submit and nothing happened.

Only submitted after refreshing the page and entering the right format at the first place

[2015-03-23 22:48] agonbar commented on #106
![image](https://cloud.githubusercontent.com/assets/1553211/6792265/d146d4ae-d1b6-11e4-8737-db283e661141.png)
My username is adrian.gonzalez.barbosa@gmail.com and it has never shown any more than a 0. The browser is in spanish, and I use google to search for data almost everyday.

[2015-03-24 06:54] marcosmenendez commented on #106
@atrandafir can you take a look at it? It seems that it is still not counting the queries done in Spanish as requested

[2015-03-24 06:56] marcosmenendez commented on #116
I reassign it to @JuanMenendezBuitrago but please have a look later at issue #145 and explain to @bodiapz any relationship between the 2 when handling phplist segments/lists

[2015-03-24 06:58] marcosmenendez commented on #135
@atrandafir please remember to test this as well and mark it as ready to deploy

[2015-03-24 07:06] marcosmenendez commented on #133
Tested and ready to deploy. @JuanMenendezBuitrago could you confirm that you have deleted unnecessary fields from the database or have you just hidden them from the form?

[2015-03-24 07:10] marcosmenendez commented on #120
I cannot test that, can you @atrandafir ?

[2015-03-24 07:22] marcosmenendez commented on #108
Money earned is not working anymore. I just requested to take out expenses of the income sum. There is only one income of 206, expenses=6. Money earned should be 200, not 150.75

Regarding queries traded, It says that we have traded 1, but if I go to the admin view https://pre.thegooddata.org/queries/admin?Queries_sort=id.desc and I see the last query, it is older than 1 month. Are we doing it cor

[2015-03-24 07:47] marcosmenendez commented on #136
After a long time waiting the page hasn't show anything, however I prefer to test it in production with real data considering that @atrandafir will hide this page from the 2 menus (bar and drop-down), so please deploy

[2015-03-24 10:15] JuanMenendezBuitrago commented on #113
I've tried the same but t worked for me. I will try several times in order to track down the cause of problem. There's a timeout of 10 seconds in case something doesn't work. Did you wait  10 seconds and no error message was shown?

[2015-03-24 10:49] marcosmenendez commented on #113
I didn't wait so long, however It worked for me now, so assume i did something wrong. Marked as ready to deploy

[2015-03-24 11:09] atrandafir opened #146 "Check errors generated from OA API SSO"
Looks like there are some errors in the log that might be caused by logged in user that was deleted.

This is part of the Single Sign On process.

2015/03/24 00:38:30 [error] [php] Trying to get property of non-object (/srv/webapp/releases/20150320172823/protected/controllers/OaApiController.php:78)

[2015-03-24 11:13] atrandafir commented on #106
As far as I know I'm not sure this version of the extension has been deployed to Chrome store so I will first check that.

[2015-03-24 11:21] atrandafir commented on #137
@marcosmenendez two things:

1) the capitalisation is the original way to work with controllers in Yii, the controllers are named with capitalisation for easier reading the name of the files, we can change later the urls generated by using url rewriting rules if needed, but as I say, it is a normal behavior when a name has more than one word

2) You see for new admin parts the url /admin/<name> be

[2015-03-24 11:25] atrandafir commented on #146
Related to https://github.com/thegooddata/webapp/issues/143 could be even duplicate, but I'll check both anyways.

[2015-03-24 14:42] marcosmenendez commented on #137
I'm ok as we are consistent. Regarding the capitalisation it gave us a lot of problems with David, but if you think it will not happen in the future we can keep it as it is. I just don't like that we are not consistent among developments. We should write some rules to be followed by everyone.

[2015-03-25 16:07] agonbar commented on #144
Done

[2015-03-25 16:07] #144 closed

[2015-03-25 16:25] bodiapz commented on #108
In issue #60 you have wrote another formula "Sumation of ((income - expenses) * money reserved/100)".
Queries traded count fixed.

[2015-03-25 16:38] marcosmenendez commented on #108
That was the calculation of a different variable that was shown in the previous version of the page called "money reserved for microloans". We are not showing that variable in this page. We are showing the "money earned" that is a different thing, so the formula is different as well.

By the way, according to that formula, "money reserved for microloans" should equal (206-6)*50/100=100, not 150.75

[2015-03-26 09:49] marcosmenendez opened #147 "[Interests] Improve detection of sensitive sites with Alexa"
There are a few things that we can do to detect sensitive sites using Alexa categories. Maybe we have implemented them already, but wanted to make sure:
1. Update the list of sensitive categories (use column=discard) https://docs.google.com/spreadsheets/d/1h0pJhM4hjTQl2e7gDB58lw-1x-g_WGYtmd-3mDLbnsQ/
2. In case that Alexa reports multiples categories for a site, mark as sensitive (and delete) in c

[2015-03-26 15:29] bodiapz commented on #108
It is 100 GBP converted to 150.75 USD.

Formula changed to previus state.

[2015-03-26 15:55] marcosmenendez commented on #108
You are right. My fault. Let's use the right formula though. Sumation of (income - expenses)

[2015-03-27 11:31] marcosmenendez commented on #141
@bodiapz can you explain me how to use it? I just see one json with all the trackers, but not the result expected:
1. Trackers that are not longer in disconnect.me file but are still on our file
2. Trackers that have been added to disconnect.me and are still not on our file

BTW, this compare option should not be part of the main menu, but should appear when admin visits "Manage webtracks"

![scre

[2015-03-27 11:38] marcosmenendez commented on #138
@bodiapz I don't understand anything. Pictures of members do not appear anymore in the about page.

Manual levels (collaborator and director) cannot be set either

Give me a call

[2015-03-27 12:12] bodiapz commented on #138
Hmm.. I'm not sure what happens on pre-production. Checking...

[2015-03-27 15:11] bodiapz commented on #138
I've corrected issues with upload. Problem was in permissions. Now need to upload avatars and then they apear on this page

Seniority levels fixed.

[2015-03-28 19:34] atrandafir commented on #143
This should be fixed in the next deploy since we are now automatically logging out users that were deleted in the webapp.

[2015-03-28 19:35] #146 closed

[2015-04-01 13:21] JuanMenendezBuitrago commented on #116
I've implemented another approach which I think is simpler. I just moved all the PHPList-related logic to the User model's afterSave(), afterDelete(), afterFind() and afterConstruct() method. In the methods afterFind() and afterConstruct() it simply gets the original data. Then every time the user's data is updated or inserted, it goes through the afterSave() method which  compares the original da

[2015-04-01 13:28] JuanMenendezBuitrago commented on #116
Sorry for not having mentioned it before implementing it but I was a bit late with this issue and wanted to commit as son as possible. I've tested it locally but I haven't deployed it to pre so I can say if it works there. I changed config.php in pre and prod to add a couple of constants for the two PHPList segments that I didn't know about.

[2015-04-02 07:35] bodiapz commented on #116
Ok, thank you Juan. I will rebuild my scripts (pre-accepted and accepted), to fit new logic

[2015-04-04 16:48] atrandafir commented on #143
@josereyero Now it should be fine. On one side I've put a check to avoid accesing properties if the User was not found, and on other side I'm returning a not_found field with value 1 so in case you get that response you know that you have to delete the account.

[2015-04-04 19:25] atrandafir commented on #124
My feedback on this issue and general optimization of Evil Data page..

Some improvements were made, but:

1) Evil data page is still incredibly slow

For users with plenty of data the load times are very slow and result in a response timeout, you have to refresh the page many times until the cache is finally built and then it loads fast because it is cached.

This has been tested in Pre with the

[2015-04-05 17:44] atrandafir commented on #124
@marcosmenendez Changing the database system is a important step, since we're not very familiar on working with big databases we should really study it very well.

I'm sure we can stick with Postgre for a while, and apply all the possible optimizations but we must also evaluate if we need to make a switch in the future to avoid repeating work if we're finally going to change it.

I guess a kind of

[2015-04-05 17:48] atrandafir opened #148 "Rebuild Evil data page"
Evil data page still loads slow for users with much data so we must rewrite it all and do proper database modifications to make sure we will have good performance and loading times.

Related issue:
https://github.com/thegooddata/webapp/issues/124

[2015-04-05 18:01] atrandafir commented on #113
Tested with Firefox locally and in Pre.

[2015-04-05 18:11] atrandafir commented on #56
Closing this issue.

We've got a tool that is generating fake data in pre every day. So we will use that instead of copying production database to pre, mainly for two reasons:
- production database is getting huge and it would be a pain in the ass to replicate it
- we should not be "playing" with real data in pre, so this way we test with fake data instead of real one

If we finally need to make a

[2015-04-05 18:11] #56 closed

[2015-04-05 18:13] atrandafir commented on #73
I vote to close this issue to not see it around, if we detect new performance problems we will just create new issues to fix them as we agreed.

[2015-04-05 18:13] #73 closed

[2015-04-05 18:43] atrandafir commented on #106
Indeed the changes in the extension were not released yet to Google Chrome and that's why queries in Non-English are not processed now.

[2015-04-05 18:52] atrandafir commented on #24
Just checked and all the urls look fine to me, if we ever find one that has this problem just create a new issue to fix it. Closing.

[2015-04-05 18:52] #24 closed

[2015-04-05 19:10] atrandafir commented on #129
We've decided to not do this, so closing the issue.

[2015-04-05 19:10] #129 closed

[2015-04-05 19:18] atrandafir commented on #127
@bodiapz I have removed one of your changes in setBody method of the mail component because when testing the "Send errors by email" feature it was generating in Gmail a "noname" file instead of the actual message. I think it was because of a small typing error: "$contentType = 'html/text'".

And I also did not really understand the reason why that code block was added so removed it for now. Feel f

[2015-04-05 19:28] atrandafir commented on #127
I think there's not much to test for now. As far as I understand the 1st and 2nd points in the picture:

1. Just requires us to wrap the html message into '<html>' tags so it is a full html document not just a part. So we could maybe add a check somewhere to see if no '<html>' tag exists to automatically wrap the message with '<html><body>message</body></html>'

2. When we send HTML messages we sh

[2015-04-05 19:49] atrandafir commented on #140
I think we better close it so we no longer see it in the list until we think we need it again. Reopen it if necessary.

[2015-04-05 20:02] #82 closed

[2015-04-05 20:02] #87 closed

[2015-04-05 20:26] #143 closed

[2015-04-05 20:26] #139 closed

[2015-04-05 20:27] #135 closed

[2015-04-05 20:28] #134 closed

[2015-04-05 21:09] JuanMenendezBuitrago commented on #135
@bodiapz , @atrandafir :I know this issue is closed but I am curious about the bug with the pagination since I was the one who tried to solve it in he first place.  Was there something wrong with it? I see nothing in he commit.

[2015-04-05 23:28] atrandafir commented on #124
@bodiapz Nevermind point 3 for now, I'm testing in Production and looks like data shows correctly for risk ratios. I've removed the rejected status since this has been deployed to production too and for further improvements on this page we've got a new issue:
https://github.com/thegooddata/webapp/issues/148

[2015-04-05 23:28] #124 closed

[2015-04-05 23:56] #133 closed

[2015-04-05 23:56] #132 closed

[2015-04-05 23:56] #122 closed

[2015-04-05 23:56] #120 closed

[2015-04-05 23:56] #119 closed

[2015-04-05 23:57] #117 closed

[2015-04-05 23:57] #113 closed

[2015-04-05 23:57] #111 closed

[2015-04-05 23:57] #107 closed

[2015-04-05 23:57] #106 closed

[2015-04-05 23:57] #101 closed

[2015-04-05 23:57] #60 closed

[2015-04-05 23:58] #20 closed

[2015-04-06 00:34] atrandafir opened #149 "Seniority level icon broken for some cases"
Hello @bodiapz looks like there's some problem in the getSeniorityLevelAndPercentile function so I'm assigning this to you since you've been the last one working on it.

I'm logged in with a user that has no queries and has status Accepted.

So $percentile=0 and $status=2

The problem is that the function is not able to resolve to a valid SeniorityLevel for this user. Because there's no SeniorityL

[2015-04-06 01:30] atrandafir commented on #145
@bodiapz tested this and after several attempts I have managed to upload a picture of Monica Bellucci =)

But.. it still does not work smooth, the crop functionality doesn't show up for all pictures, just sometimes, and sometimes it doesn't and when submitting the form since there are no crop params passed the previews are not getting generated.

[2015-04-06 01:42] atrandafir commented on #49
@JuanMenendezBuitrago I just tried to setup the cronjob in production and I've got this error when running the command.

Looks like the API returns some text instead of a number in some case and that causes a sql error when trying to update the value in the database.

tgd@lnd-app00:~$ php /srv/webapp/current/protected/yiic.php updaterates
exception 'CDbException' with message 'CDbCommand failed to

[2015-04-06 06:36] bodiapz commented on #118
Please, give me login and  password to piwik on pre-production

[2015-04-06 11:26] JuanMenendezBuitrago commented on #49
Yes. It seems like sometimes the API returns "N/A" and beaks the query. I added a try/catch and the debug function that you mentioned. Now if something goes wrong with the query of some currency pair it skips it and continues with the rest.

[2015-04-06 14:00] atrandafir commented on #118
@JuanMenendezBuitrago do we have a Piwik for pre-production?

@bodiapz I think we only have it for Production. I'm sending you the details by mail now so you can login.

[2015-04-06 14:07] atrandafir commented on #49
Okay if it is ready change the status to ready-to-test.

By the way, for future console commands I've made a parent Command we can extend.

https://github.com/thegooddata/webapp/blob/master/TGD/protected/components/TGDCommand.php

You can see we will automatically have the debug function created.

To use it you simply extend from that class instead of the original Yii class, example:
https://githu

[2015-04-08 14:31] josereyero commented on #143
@atrandafir, thanks, that should work

Created a related issue to handle this new response, https://github.com/thegooddata/social/issues/41

[2015-04-12 08:54] marcosmenendez commented on #140
All issues postponed are left open so we have them in mind, so I re-open it :)

[2015-04-12 17:01] JuanMenendezBuitrago commented on #142
There's only pending for confirmation the part concerning @josereyero . The rest should be marked as   "closed".

[2015-04-13 19:10] atrandafir commented on #140
Okay Marcos, as you wish, I was just trying to keep not necessary items out so we can focus on what's important at any given time so I would eventually close a issue that stays there as postponed for a while, we can always check closed issues that are postponed and reopen them.

[2015-04-14 09:11] josereyero commented on #142
About Collaborate:
- It was already configured for not sending data from admin/* pages.
- I've done some review of the settings and excluded also data from users with the 'administrator' role.

Let me know if it's still sending any data it shouldn't.

[2015-04-24 19:15] atrandafir commented on #118
Hey @bodiapz just deployed this to production and sometimes it shows the following error in the logs:

2015/04/24 19:01:20 [error] [php] Undefined index: MT (/srv/webapp/releases/20150424184331/protected/extensions/geoip/GeoIP/CRN.php:4519)

Looks like it is trying to detect some region that is not defined, and instead of returning null, is giving an error because there is no prior check to see if

[2015-05-02 16:00] atrandafir commented on #54
Hi @bodiapz , just tried to apply the latest database migrations locally and it gives errors.

Sorry because my postgresql installation is in Spanish.

Can you confirm that the scripts to create the last views are correct as you have them?

				 ...exception 'CDbException' with message 'CDbCommand failed to execute the SQL statement: SQLSTATE[42601]: Syntax error: 7 ERROR:  no se pued
		en inserta

[2015-05-02 16:50] #116 closed

[2015-05-02 16:51] #49 closed

[2015-05-02 18:13] #14 closed

[2015-05-04 22:13] marcosmenendez commented on #145
@atrandafir the crop still does not work properly. Could you please fix it? It seems @bodiapz has not been able to do it

The hoover next to each field is not working anymore either

[2015-05-04 22:17] atrandafir commented on #145
I will first check if the latest changes were deployed to make sure there's nothing missing.

[2015-05-04 22:21] marcosmenendez opened #150 "sign-out not working anymore"
If I sign-out at the webapp and sign-in again with a different user it shows to me the data from the previous user

[2015-05-04 22:22] marcosmenendez opened #151 "Queries duplicated"
Since last update search queries are being registered twice in the backend.

When fixing, please check that it works with google, yahoo and bing

[2015-05-04 22:28] marcosmenendez commented on #138
If someone uploads a picture with transparent background, the background is currently converted to black, but it should remain transparent

[2015-05-04 22:35] marcosmenendez commented on #118
I cannot test it since country data is not visible in the admin panel. Please include that field in the Member view

[2015-05-04 22:44] marcosmenendez commented on #105
I've made a stripe donation and haven't seen the income in the webapp. @atrandafir please fix it. Talk to @bodiapz first if you need to understand what has been done

[2015-05-04 22:46] #125 closed

[2015-05-04 22:47] marcosmenendez commented on #83
@JuanMenendezBuitrago can we close this?

[2015-05-04 22:55] marcosmenendez opened #152 "Automatically update webtrackers with adblockplus data"
disconnectme is no longer updating trackers, so we should update them using another opensource list like adblockplus here: https://easylist-downloads.adblockplus.org/easyprivacy.txt

Please delete code written for #141 and try to build a routine that identifies trackers that are not on our list based on ABP, propose the most proper category (content, advertising, etc) and let the admin change that

[2015-05-04 22:57] marcosmenendez commented on #141
Work done here is a complete loss of time. Requirement has not been understood at all, and no question has been risen to clarify it.

Anyway, I've noticed that disconnectme is no longer updating its list, so I have added a new issue #152  to update the list using other sources of data

[2015-05-04 22:57] #141 closed

[2015-05-04 23:01] marcosmenendez commented on #137
Since there is an option that says "automatically calculated" there shouldn't be an manual option called owner. Just director and collaborator. If the user has bought a share and is not any of these 2 options, he is automatically marked as "member" (=owner)

[2015-05-04 23:11] marcosmenendez opened #153 "Automatically calculate data trading revenues based on activity"
Since we can not rely anymore on Chango revenues, we will automatically ad data trading incomes daily based on sites visited and queries performed.

Every 24 hours we should count sites visited and queries performed during the day and run the following formula:

Data trading revenues of that day = sites visited that day  \* 0.00002 USD + queries performed that day \* 0.001 USD

[2015-05-04 23:22] marcosmenendez commented on #136
Extremely slow and still it does not show anything. @atrandafir please check and fix

[2015-05-05 07:22] marcosmenendez opened #154 "Let users choose the cause to donate the money to"
We should ideally find a charity or portal that gives access to the existing causes via API. Those causes should be shown in the extension and website so the user can vote which one to donate to.

If there is enough money available, donations should be done immediately to the cause with the highest voting. That cause should go back again to zero votes.

Votes considered will be those of the last 3

[2015-05-05 17:20] marcosmenendez commented on #91
We have probably deleted it already. Since we have been reaproved I feel safer about republishing the app marking that we will allow in-line installs.

I remind you that by doing so we will probably have to pass a more thorough process of evaluation by Google. On the other side it will allow us to use other stores and don't depend 100% on $%&*! Google

[2015-05-06 10:14] marcosmenendez opened #155 "Change user default settings: Store navigation data and Trade non-sensitive data"
Since we are not working anymore with chango, we should mark all users not to trade non sensitive queries. This issue is linked to these other 2:
https://github.com/thegooddata/webapp/issues/158
https://github.com/thegooddata/extension/issues/41

On the other hand, in order to get enough relevant data to analyse we need to store navigation data by default (both browsing and search history).

Let's

[2015-05-12 08:20] marcosmenendez commented on #108
Under certain circumstances the first column is shown with all zeroes. Maybe when first login in, or when changing user.

[2015-05-12 09:05] marcosmenendez opened #156 "Improve Outstanding Portfolio calculation"
We haven't consider that projects may have losses or gains due to exchange rates even if they have been fully paid. In order to consider those gains we have to improve the calculation of outstanding portfolio:

Summation of (loan amount-amount paidback) of all loans with the following status: fundraising, funded or paying back

[2015-05-13 09:39] marcosmenendez opened #157 "Count of data points: include sites visited"
Up to now we were assuming that "data points" shown in the extension were the number of search queries that the user performed.

Since we are not selling that info anymore we should include both the number of queries and sites visited. If the calculation takes too many resources, we should cache las summation and show it immediately when the user open the extension. At that point, we should recalc

[2015-05-13 09:45] marcosmenendez opened #158 "Delete trading data brokers"
Since we are not working anymore with chango, we should mark the list of data brokers they work with as "blocked", instead of "trading". They were 20 or so

We should keep the functionality in case we want to use it in the future

[2015-05-13 09:55] marcosmenendez opened #159 "Delete references to authors"
I've seen in the code some emails of coders like raulgalindo. Since the code is open and all commits and authors are public on github I don't see the point of leaving those details in the code, unless we make sure that we put the emails of everyone that has contributed (which is a bit unsustainable).

We should delete therefore these personal references in the code. Both in the extension and the w

[2015-05-13 13:04] atrandafir opened #160 "[Interests] Add Interest cron jobs"
Add Interest cron jobs:
 InterestCategoriesCommand.php
 -> action SitesCategories
 -> action UsersCategoriesCache

[2015-05-13 16:44] atrandafir commented on #105
@marcosmenendez a few questions regarding this task:

1. Why only Stripe payments?

Shouldn't all the donations no matter what payment method used, be considered a income?

And also, as far as I remember, on the "Get your share" page you can choose buy share and make donation at the same time. Shouldn't this case also be considered a income? I mean with 10gbp 0.01 goes for share and 9.99 for donat

[2015-05-13 17:34] atrandafir commented on #150
On what page it shows you data from the previous user?

[2015-05-13 17:42] atrandafir commented on #151
I have tested this multiple times and it only stored one row for every search.

[2015-05-14 14:23] marcosmenendez opened #161 "Minor piwik issues"
I've seen that we are not in the latest version. I would like to update it myself, but not sure that if I do, everything will crash. Please update it and ensure that I can update it with no help in the future

If you visit admin/settings/system check there are some minor errors that should be fixed.

I've never received an email so I just included smtp info. I hope it works

[2015-05-14 14:39] marcosmenendez commented on #151
As mentioned above, it was linked to issue https://github.com/thegooddata/extension/issues/37 not sure if @JuanMenendezBuitrago has fix it already. If so, mark it as ready to test or, if in production, please close it

[2015-05-14 14:45] marcosmenendez commented on #150
I cannot replicate it anymore. I close it then

[2015-05-14 14:45] #150 closed

[2015-05-14 15:05] marcosmenendez commented on #105
Stripe is our only platform to date besides bitcoin, which is marginal.

I was just talking about pure donations https://www.thegooddata.org/support-us, not share purchase. In case of the share purchase it already works as you mention.

I'm not sure if Stripe API provides both the gross income and the expense. Use whatever info stripe provide. At this point we are enjoying an offer that takes out

[2015-05-14 15:44] marcosmenendez opened #162 "New landing"
In order to make our service more understandable we are going to redo the landing using this wireframe: https://beta.moqups.com/thegooddata/OC4z975PTd/edit/page/a011ec86a

When we implement it we will probably drop the partners page (it does not apply anymore) and may review the menu structure

[2015-05-14 16:37] agonbar commented on #161
For some reason my chrome deleted the password of piwik from the database,
would you mine sending me the credentials? Thank you.

El jue., 14 may. 2015 a las 16:23, Marcos Menendez (<
notifications@github.com>) escribió:

[2015-05-14 20:51] marcosmenendez opened #163 "Review partners page and faqs to take out references to data trading"
Since we are not trading data anymore, we should change those texts. Whoever takes this issue, please ask me for the new texts

[2015-05-15 07:31] JuanMenendezBuitrago commented on #151
I've been using the extension with the changes that I uploaded and I haven't had any duplicated queries either.

[2015-05-15 07:41] marcosmenendez commented on #151
Does it mean that issue https://github.com/thegooddata/extension/issues/37 is already in production? in that clase, please close it. I close this one

[2015-05-15 07:41] #151 closed

[2015-05-15 08:19] JuanMenendezBuitrago commented on #163
Send me the details.

[2015-05-15 08:21] JuanMenendezBuitrago commented on #159
I'll take care of it.

[2015-05-15 08:46] JuanMenendezBuitrago commented on #159
Under what license are we publishing the code? I'm not sure if we can remove author information in every case.

[2015-05-15 08:56] marcosmenendez commented on #159
I'm not asking to remove copyright info about disconnect or thegooddata,
but about the developers that thegooddata has hired. The code is owned by
the company, not by their employees/contractors

*Marcos Menendez*
hangout: marcos@thegooddata.org
skype: marcosmenendez
tel: +44 (0)20 3289 0009
twitter: @marcmenen <https://twitter.com/intent/user?screen_name=marcmenen>
Unit 1, 82 Clerkenwell Road
Lon

[2015-05-15 09:06] JuanMenendezBuitrago commented on #159
Understood

[2015-05-15 20:03] JuanMenendezBuitrago commented on #151
I don't know if they're in production. That's why I haven't closed this one or thegooddata/extension#37

[2015-05-16 10:08] agonbar commented on #161
The automatic installer works like a charm, only needs to do the database upgrade manually in case it gets too big, but I don't think we could ever reach that size. For future problems I've saved the command to do the database upgrade manually, so @marcosmenendez can do always the upgrade and if it fails I finish it in a minute.

[2015-05-21 19:19] marcosmenendez commented on #151
So please check it yourself or with @atrandafir

[2015-05-22 17:00] JuanMenendezBuitrago opened #164 "Move CSS rules "hardcoded" in main.css to the proper LESS module file"
At some point, there has been a bunch of rules added to the main.css file

[code]
But the main.css file is generated from main.less which in turn uses a set of other module files. This means that the next time someone edits any module file, the main.css will be rewritten and these rules will be overwritten.

[2015-05-23 07:58] JuanMenendezBuitrago commented on #138
I also changed the color so they match the site's palette (TGD red, TGD bue, and TGD green instead of regular red,blue and green). There's something about the design that doesn't look quite right though.

[2015-05-23 08:10] JuanMenendezBuitrago opened #165 "Implement a versioning/change-log system so we know what changes have been published in pre and prod"
We should find a way to make it easy for everyone to know what changes they can expect (and test in pre). Some sort of change-log document maybe? When someone sets something as "ready to test" he/she could write on it what issue has been fixed and then when the code is deployed, someone responsible would edit the document so it reflects the date of the deployment and thus the last change that has

[2015-05-23 08:54] marcosmenendez commented on #165
Why don't we use this tool together with our releases? https://github.com/posabsolute/releasenotes

I would imply that we need to review the issues included in a release before deploying it and move them forward if they haven't been deployed. What do you thing @atrandafir ?

[2015-05-23 08:56] marcosmenendez commented on #138
But are you going to improve it or is it ready to test?

[2015-05-23 13:10] JuanMenendezBuitrago commented on #138
Someone deploy it to pre so I (or anyone) can test it properly. I can't do it myself I don't know why.

[2015-05-23 14:41] atrandafir commented on #158
Trading data brokers are now blocked when trading feature is disabled from code.

https://github.com/thegooddata/extension/commit/1daf74fc84108815b2a5dbf582fced280f22f620

[2015-05-23 14:41] #158 closed

[2015-05-23 14:42] atrandafir commented on #155
Trading totally disabled.

[2015-05-23 15:05] #155 closed

[2015-05-23 16:32] atrandafir commented on #165
I think this is not really a "changelog", at least not alone, this should be related to deployments.

I'm thinking of the following:

1. I go to a deployment tool, select environment, pre or prod, and click deploy
2. Now this tool looks at the repository/branch and makes a list of all the new commits since last deployment to that environment and another list of the issues mentioned in those commit

[2015-05-23 16:45] atrandafir commented on #138
Deployed to pre finally and tested it. Great, transparency works!

[2015-05-23 18:32] atrandafir commented on #127
Tested. Got 9/10 because we're on a spam list. But I guess it is because of Amazon gets sometimes in those lists.

[2015-05-23 18:47] atrandafir commented on #149
Tesded and it works now.

[2015-05-23 18:54] #149 closed

[2015-05-23 18:54] #145 closed

[2015-05-23 19:00] atrandafir commented on #142
@JuanMenendezBuitrago I've did a deploy to production and I'm viewing the Admin > Users list page and it has the Piwik JS code loaded if I view source code. Indeed some other admin pages don't have it. Maybe we should check this again.

[2015-05-23 19:00] #138 closed

[2015-05-23 19:00] #137 closed

[2015-05-23 19:01] #127 closed

[2015-05-23 19:04] atrandafir opened #166 "Display user country in the admin pages"
Related to:
https://github.com/thegooddata/webapp/issues/118

Just saw right now "Please include that field in the Member view" after already did the deploy. So I've created a new issue.

There's one thing we should consider. We do not store detected user country in User table. We store it in Active Users table, so we should think on how we want to link information from active users to the user ta

[2015-05-23 19:04] #118 closed

[2015-05-23 19:05] #108 closed

[2015-05-23 20:08] JuanMenendezBuitrago commented on #142
I forgot that Users had their own module so I think I just have to add a line to user/controllers/AdminController.php

[2015-05-24 15:18] JuanMenendezBuitrago opened #167 "Execute migrations upon deployment"
This is not urgent nor important but it would be an improvement for the deployment process. I have no experience with Capistrano so I have no idea if this is possible to do via Capistrano. The truth is that it would make things easier if after a new deployment, the possible pending migrations could be executed automatically.

[2015-05-28 13:54] #142 closed

[2015-06-04 05:40] marcosmenendez commented on #161
Still I'm not receiving any emails from piwik, although I signed up for the activity report. Is it working?

[2015-06-04 12:28] agonbar commented on #161
It should as the configuration is ok, i'll test it this afternoon then.

[2015-06-06 11:05] marcosmenendez commented on #83
No answer in one month, so I guess I can close it

[2015-06-06 11:05] #83 closed

[2015-06-06 11:05] marcosmenendez commented on #131
Since update a phplist logo is attached at the end of every mail. We should take it out as it was before

[2015-06-06 11:36] marcosmenendez opened #168 "New subscribers not properly added into phplist"
When adding a subscribers into phplist, there is a field called "Send this subscriber HTML emails" that should be set to 1 by default. Since March 7th all new subscribers are created with this variable set to blank, so they are excluded from all mails.

I will manually fix it for the "Members legal comms" since I have to send a newsletter right away, but please change it for all users and ensure n

[2015-06-06 11:40] marcosmenendez commented on #168
There is another field called "Is this account disabled?" that i think should be marked as 0 by default. Please check all fields

[2015-06-06 14:56] JuanMenendezBuitrago commented on #168
I've fixed the issue and updated all records in the database so htmlemail is set to 1 and disabled set to 0

[2015-06-06 20:55] agonbar commented on #131
Ok, I'll make a document with the changes needed in each actualization to
prevent future problems.

El sáb., 6 de jun. de 2015 13:05, Marcos Menendez <notifications@github.com>
escribió:

[2015-06-07 08:23] marcosmenendez opened #169 "Company achievements not always displayed"
"Sometimes" when visiting https://www.thegooddata.org/good-data the column of company achievements is blank, as shown in the picture.

After some minutes this column is filled out automatically. I wonder if it has something to do with the caching of data.
![screen shot 2015-06-07 at 10 19 15 am](https://cloud.githubusercontent.com/assets/1178350/8023173/20674162-0cff-11e5-8f89-971efbde684d.png)

[2015-06-07 09:00] marcosmenendez commented on #161
Any news? I still don't receive any weekly report (as configured).

If I force piwik to send it, I get the following message:
![screen shot 2015-06-07 at 10 59 58 am](https://cloud.githubusercontent.com/assets/1178350/8023270/6fd2dbf8-0d04-11e5-8a09-76eb675ec666.png)

[2015-06-07 09:13] agonbar commented on #161
I'm searching the logs to find the problem. Its a slow process, but the
only way.

El dom., 7 de jun. de 2015 11:00, Marcos Menendez <notifications@github.com>
escribió:

[2015-06-07 09:28] marcosmenendez commented on #91
Since we need to start by marking this feature in the extension, I've moved this issue to the extension repository here: https://github.com/thegooddata/extension/issues/47

[2015-06-07 09:28] #91 closed

[2015-06-07 09:58] marcosmenendez opened #170 "[Interests] Include other categorization sources besides Alexa"
Alexa offers a limited coverage of websites, so we need to complement it with other sources that will help us improve and extend the coverage.

For that, we should use a combination of other 4 sources as explained in this paper: http://arxiv.org/pdf/1411.5281v1.pdf

These are: Cyren, Google Ad Words, McAfee and WebPulse.

Pointers for those sources are mentioned in the paper. If we have any doubts

[2015-06-07 17:01] JuanMenendezBuitrago commented on #169
I can't reproduce the behavior now but I've seen it before and it was
caused by an "error 500" when requesting for
https://www.thegooddata.org/goodData/CompanyAchievementsData. So it was
something on the server side but I can't give more details. Maybe @agonbar
can take a look at the logs and find out the reason, because I have no
access to the logs.

2015-06-07 10:23 GMT+02:00 Marcos Menendez <no

[2015-06-07 17:03] JuanMenendezBuitrago commented on #169
I'll check that the data caching is working fine. It's all I can do for now.

[2015-06-07 20:39] agonbar commented on #169
I'll need the day/hour, the most precise one you can give me, thnx.

El dom., 7 jun. 2015 a las 19:03, Juan (<notifications@github.com>)
escribió:

[2015-06-07 20:53] agonbar commented on #131
It should be removed, please do some tests with our e-mails while I try to solve the other problems and create the document. Thank you.

[2015-06-07 21:16] agonbar commented on #161
It should work now, always let the e-mails be sent by the default configuration as the relay does well the job.

[2015-06-07 21:25] agonbar commented on #131
https://docs.google.com/document/d/13WgJzxspkkY0AWgxws5a-8A-JTET3Eyl7lPdNivQq1c/edit?usp=sharing

That should resolve any problems with future updates in case I'm not present. I'll continue to write there the changes made in the code.

[2015-06-12 14:13] marcosmenendez commented on #153
Since @atrandafir is working on income related issues and I believe that @JuanMenendezBuitrago has not done anything on this issue, I reassign it to @atrandafir

[2015-06-14 10:39] JuanMenendezBuitrago commented on #169
I think I already solved the issue that caused the error 500 that I mentioned previously. It was due to the fact that after a deployment, there were some migrations pending. Therefore the problem is caused by something else.

I think the cache works fine. It keeps the values stored for 24hrs. So the solution would be to implement a script to be called by a cron job every 23hrs for instance, that w

[2015-06-14 18:42] marcosmenendez commented on #169
@JuanMenendezBuitrago in case you are proposing a new issue, please ad it and link it to this one. And mark this one as closed, ready to test or whatever. Thanks

[2015-06-16 15:34] JuanMenendezBuitrago commented on #169
No, it was still the same issue. I just wanted to tell @agonbar that the issue was not related to the error 500 that I mentioned previously.

I've just pushed to github a new command that should be run via cron job every 23hrs (any amount less than 24hrs). The command is:

    php /srv/webapp/current/protected/yiic RefreshCompanyAchievements

[2015-06-17 06:45] marcosmenendez commented on #161
I haven't receive any weekly report yet.

[2015-06-17 13:04] agonbar commented on #161
It seems the piwik reports have a bug in the last update. In their forums they recomend a reinstall, do we have any special file changed like in phplist? If not, I'll wipe this installation and place the latest version.

[2015-06-17 17:02] JuanMenendezBuitrago commented on #161
Let me know when you have done the reinstallation so I can upload the changes made in the CSS.

[2015-06-18 09:37] atrandafir commented on #105
Update: We've agreed with @marcosmenendez that this will be done by looking for info in Stripe API instead of touching anything in the donation process pages. So we can create a command that will download that info from Stripe and configure it as a cronjob.

[2015-06-18 12:05] atrandafir opened #171 "Check that company achievements data is correct"
We should check in the database that the information is correct:

1,219,246
Monthly Visits Stored
1,176,183
Monthly Threats Blocked
8,295
Monthly Queries Traded

[2015-06-18 12:44] marcosmenendez opened #172 "Automatically ad copyright note to new files"
Every new file created should have the following text: "Copyright [year] The Good Data Cooperative Ltd". Old files that we have changed should have it as well. In case those files had other copyrights, they should be maintained.

We should ideally ad that text automatically when a new file is created.

[2015-06-18 12:44] marcosmenendez commented on #159
To be consistent with previous policy we have agreed to maintain authors as well as copyright in all files (issue #172)

[2015-06-18 12:44] #159 closed

[2015-06-18 12:47] marcosmenendez opened #173 "Upload how-to information to set up the development environment"
Upload this info to github. Ideally in the how-to chapter of the readme file. It would be good to ask @graimon about capistrano set-up documentation.

Do not include any username/password, but include contact people to get access to server, database, etc.

[2015-06-18 12:51] marcosmenendez opened #174 "Create a newsletter with good data and evil data news"
Build automatically a newsletter to be sent monthly to our email list with news on:

1. Good data
- New users
- Traffic data
- Money raised
- Projects funded

2. Evil data
- Worst websites
- Worst trackers

3. Users data
- Interests of all users
- Geography
- Link to individual interest page

Concrete content and layout has to be nailed down.

[2015-06-22 07:21] UchihaCFC commented on #171
The data do not match, when I refreshed the cache completely erasing the ranks of the table YiiCache database to refresh the page numbers have changed and match. It does not happen only with the data of the month, also happens with registered and active users, etc .. shown in the same column.

I added in a push commit to develop branch, a cache flush and delimited seconds it takes for a query to t

[2015-06-22 07:26] UchihaCFC commented on #169
I delimited seconds it takes for a query and schema to the database to reduce waiting time, related to issue # 171 when I got to a limited number of queries it can not be trapped while.

To strengthen @JuanMenendezBuitrago solution. I have not tested too much data, but between one thing and another should not be trapped in the query.

[2015-06-22 07:32] UchihaCFC commented on #153
@marcosmenendez This resulting amount does that show somewhere?, What view on /good-data with the other statistics?

@atrandafir the table on the database where visitors are stored is the achievements? and donations is loan's tables?

Thanks

[2015-06-22 07:35] UchihaCFC commented on #105
Can I do a command that later can be configured to stripe, but still need to know what table database, @marcosmenendez  saves the data manually to save automatically now, once down the information from the api Stripe payment. Its the correct process @atrandafir ?

[2015-06-23 10:30] atrandafir commented on #171
- Fixed one bug with the data because UsageDataDaily was duplicating some records.
- Verified the production database and the numbers are correct, we've got 1102608 blocked adtracks and about 1897756 allowed.

[2015-06-23 16:53] marcosmenendez commented on #105
I don't know the name of the table. I fill out this form: https://www.thegooddata.org/incomes/create

I copy the income date, gross amount in GBP and the expenses from Stripe (although they are not charging any at this point)
I mark the income as donation, assign 50% to microloans and name it as "Stripe YYMMDD"

Regarding Stripe, I guess we can get that data using their API https://stripe.com/docs

[2015-06-23 16:58] marcosmenendez commented on #153
Total incomes are shown here https://www.thegooddata.org/good-data
It is a summation of total donations and "data trading revenues". Donations will be updated automatically via stripe. I'm basically asking now to calculate as well "data trading" income daily using the formula above. If it is still not clear, pelase clarify with @atrandafir or call me via skype (marcosmenendez) or hangout

[2015-06-25 00:06] agonbar commented on #103
I can delete manually the files it but it's better if the change is done in the repository.

[2015-06-25 00:18] agonbar commented on #131
The reinstall is finished, but the e-mail still doesn't work, which is strange as now it doesn't show any error at all and the relay with amazon SES is working, I''ve tested it with phplist.
I'll continue investigating once the deploy errors are solved.

[2015-06-25 18:22] atrandafir opened #175 "Configure a cronjob to truncate preproduction tables"
The preproduction server already has running a cron job that fakes user data by making API calls. We've placed this so we always have data in preproduction.

The problem is that if we leave it running for 2 months or so the server will run out of space as it has already happened once.

So we could configure a cron job that will truncate tables that use to have more data such as adtracks table.

[2015-06-29 09:58] marcosmenendez commented on #161
@agonbar is this issue solved? Can @JuanMenendezBuitrago upload css changes?

[2015-06-29 10:43] agonbar commented on #161
Upload them, it's safe to do it. The problem is still there but it can be
solved without reinstalling anymore.

El lun., 29 jun. 2015 a las 11:58, Marcos Menendez (<
notifications@github.com>) escribió:

[2015-06-29 10:56] marcosmenendez commented on #163
Home:
Our donors reward your care with your data. We reinvest 50% of these donations
into TheGoodData, and the other 50% fund microloans to people in developing countries via our partner, Zidisha.
ABOUT OUR GOOD DATA (link to good-data)

Partners page: delete it and take it out from unlogged menu

Product page (fix the indent of points 3 & 4):
2. We process your data securely:
- If you give us per

[2015-06-29 11:10] marcosmenendez commented on #171
Regarding "Monthly visits" metric, what do we count as a visit? every single page visited? Every domain visited? I guess it is the first, in that case we should call it "Monthly Pages Stored". Could I get by email a random list of 1,000 of those visits? just want to check the kind of info that is there. Thanks

[2015-07-02 17:04] JuanMenendezBuitrago commented on #163
I don't understand the ordered list. Where is this list supposed to be inserted?

[2015-07-09 15:04] marcosmenendez commented on #163
I have written bullets instead of numbers, but github reformats it automatically without letting me change it. Let me copy numbers 3  & 4. Bullets for 2nd tab are fine:

3. We raise money thanks to your data:
* At this point we are not trading any anonymous browsing data anymore. Problems with Google Webstore have forced us to postpone this option until we manage a higher volume of users & traffic

[2015-07-10 10:09] JuanMenendezBuitrago commented on #163
Should the latest revision date in the FAQs be set to June 2015 instead of January 2015?

[2015-07-10 10:12] marcosmenendez commented on #163
Yes

[2015-07-10 15:32] marcosmenendez opened #176 "Change Queries traded figure with queries run"
Since we no longer trade user queries, we should not show anymore that figure in the good-data page, showing instead the Monthly Queries Run.

We should also change the order of Threats Blocked and visits stored. Show first the threats

[2015-07-10 15:46] marcosmenendez opened #177 "Show loan status in loan list"
In https://www.thegooddata.org/loans/admin, show loan_status instead of charity name

[2015-07-14 17:14] UchihaCFC commented on #171
Missing: More testing in the form of stored data, real testing, etc... in Visits and Adtracks

[2015-07-14 17:42] marcosmenendez commented on #171
And change Monthly visits" with "Monthly page views"

[2015-07-14 17:44] marcosmenendez commented on #176
@UchihaCFC Could you fix it when doing issue #171 ?

[2015-07-14 17:49] marcosmenendez commented on #161
I haven't receive any weekly report yet by email. Please fix!

[2015-07-14 17:55] marcosmenendez commented on #131
Is this issue fixed? If so, please close

[2015-07-14 18:00] agonbar commented on #161
I was told there was a new guy to do everything and has the users and
passwords to access, tought I don't know his github account. Maybe someone
at Openhost knows.

El mar., 14 de jul. de 2015 19:49, Marcos Menendez <notifications@github.com>
escribió:

[2015-07-27 15:01] #166 closed

[2015-07-27 15:04] #177 closed

[2015-07-27 15:05] #168 closed

[2015-07-27 15:05] #157 closed

[2015-07-27 15:11] #163 closed

[2015-07-27 16:58] calidadesystems commented on #161
I've just updated piwik to latest version avaliable, and email reports are working through amazon.

[2015-07-27 16:58] #161 closed

[2015-07-29 14:09] calidadesystems commented on #131
Reconfigured mailserver, was a postfix miss configuration I send a test email and is comming from amazon

Jul 29 16:07:34 mail postfix/smtpd[29202]: connect from a6-173.smtp-out.eu-west-1.amazonses.com[54.240.6.173]
Jul 29 16:07:35 mail postgrey[648]: action=greylist, reason=new, client_name=a6-173.smtp-out.eu-west-1.amazonses.com, client_address=54.240.6.173, sender=0000014eda23c314-b3499378-0006

[2015-07-29 14:09] #131 closed

[2015-08-01 12:06] JuanMenendezBuitrago commented on #153
Do you want to store those daily values in the tbl_incomes as a "Data trade" type? and if so, only from now on, or do you want to calculate/store those values for all the data we have?

[2015-08-04 10:13] #176 closed

[2015-08-05 09:28] JuanMenendezBuitrago commented on #153
I've created a command that computes the daily income following the instructions you mentioned. This inserts a value into the tbl_incomes table, with type "Data trade" and source name "Queries plus visits". This command should be ran via a cron job  like either one the following:

    * 04 * * * /usr/bin/php /srv/webapp/current/protected/yiic.php ComputeDailyIncomes 1>&2

(output redirected to std

[2015-08-05 09:38] marcosmenendez commented on #153
So? Who takes care of the cron job? you or @atrandafir ? If the second, then change assignee

[2015-08-05 10:17] JuanMenendezBuitrago commented on #153
I think cron jobs are managed by Miguel unless @atrandafir has privileges to do so.

[2015-08-20 13:29] calidadesystems commented on #153
just added in production machine,

@JuanMenendezBuitrago  can give feedback tomorrow if it was correctly executed?

[2015-08-27 16:22] JuanMenendezBuitrago commented on #153
Sorry about the delay... can yo add it in preproduction?... I don't want to test it with production data.
Thanks.

[2015-08-27 16:43] calidadesystems commented on #153
added in preproduction and disabled in production, waiting for a successful  results

[2015-08-27 17:00] JuanMenendezBuitrago commented on #153
thanks :)

2015-08-27 18:43 GMT+02:00 Calidade Systems <notifications@github.com>:

[2015-09-02 07:35] marcosmenendez opened #178 "Delete loan identifier field"
Each loan has currently 2 ID: the loan ID and the loan identifier. We should get rid of the second. Delete it from the database and take it our from the loan views like https://www.thegooddata.org/loans/admin

[2015-09-02 09:13] JuanMenendezBuitrago commented on #178
OK. That loan_identifier is used to name the image files for each loan so I'll have to rename the images already created. I can use the id for that unless you prefer some other way.

[2015-09-02 09:19] marcosmenendez commented on #178
id is ok

[2015-09-03 20:14] jorgeheavydots commented on #105
This is ready to test, cron job is set to execute everyday at 0:00, to test manually use:

php yiic.php GetDonationsFromApi

[2015-09-03 20:33] atrandafir commented on #167
Indeed could be interesting but some migrations might be "delicate" so I would rather run them manually. I mean, maybe one gives error, or maybe you run a database migration that would take minutes, etc. In those cases I think it is better to see it on screen and be able to respond quickly so that's why maybe keeping those two actions separate would be good.

[2015-09-05 07:35] marcosmenendez commented on #176
@JuanMenendezBuitrago I don't see this change deployed. If t hasn't been deployed by @atrandafir, please reopen (and do so with similar issues not deployed)

[2015-09-08 11:36] JuanMenendezBuitrago commented on #176
This issue is deployed in preproduction.

[2015-09-08 14:52] JuanMenendezBuitrago commented on #178
Deployed to preproduction.

[2015-09-14 18:04] #178 closed

[2015-09-14 18:04] #175 closed

[2015-09-14 18:04] #173 closed

[2015-09-14 18:05] #171 closed

[2015-09-14 18:05] #169 closed

[2015-09-15 15:55] atrandafir commented on #162
Updating the task description so that @jorgeheavydots can implement the new landing correctly.

As we know @ibenzal has been working on a new Home page.

When he started to work on it I have somehow prepared a way for him to be able to add the new html and css without touching any php code of the original website.

So basically what I did was: "Right click on home page > View source code" copied t

[2015-09-18 06:42] marcosmenendez commented on #105
There were 2 bugs here:
1. We imported payments that were already in our backend so there was some double counting. I deleted them
2. We imported those payments in USD instead of GBP. For instance, the payment of September 9th was  35 USD, we should have imported the amount in GBP that was 9.48 according to Stripe. I changed that amount manually. Can we fix this for future payments?

Thanks

[2015-09-21 17:26] calidadesystems opened #179 "Lot of syntax errors in nginx"
Hello to all, new relic is sending warnings about errors, systems are working well but i see a lot of request like POST /api/<something> HTTP/1.1 with this error

PHP message: PHP Parse error:  syntax error, unexpected 'CONST' (T_CONST), expecting ',' or ';' in /srv/webapp/shared/config.php on line 110

file /srv/webapp/shared/config.php  appears to be ok and checking it with lint gives an ok

php

[2015-09-21 17:31] jorgeheavydots commented on #179
Good day and thanks for your mail.

I was deploying a new landing and add a new constant to the config.php
file but didn't notice there was a missing semicolon. I just fixed it.

Thanks again

On 2015-09-21 12:56, Calidade Systems wrote:

[2015-09-21 17:33] calidadesystems commented on #179
@jorgeheavydots Sysadmin policedepartament is watching you  :-P
Thanks for your response

[2015-09-21 17:33] #179 closed

[2015-09-21 18:10] #162 closed

[2015-09-25 13:11] marcosmenendez opened #180 "Since update, blog not working properly"
I've updated wordpress blog and since then, look & feel is not working properly. An error message says:
The called constructor method for WP_Widget is deprecated since version 4.3.0! Use
__construct()

[2015-09-26 16:37] marcosmenendez opened #181 "Announcements not working anymore"
I've tried to set up a company announcement here https://www.thegooddata.org/achievements/create but when saving I got an error 500

[2015-09-26 17:48] JuanMenendezBuitrago commented on #181
I know I am not the asignee but since I see this is urgent .... the problem is in the definition of the field "id" in the tbl_achievements. This field is defined as being of type "character" instead of type "integer", therefore the following code in the model `Achievements` doesn't work as expected because `max(id)` returns '9' instead of '10':

[code]

[2015-09-26 17:50] atrandafir commented on #181
Hi @JuanMenendezBuitrago I was just going to look into it. I see what you say. Let me know if you want to try to solve it or if I can do it and then try to deploy.

[2015-09-26 17:52] JuanMenendezBuitrago commented on #181
I have to leave right now so if you can solve it really quick...

[2015-09-26 17:56] atrandafir commented on #181
OK I'm looking into this to solve is as quick as possible.

[2015-09-26 18:10] atrandafir commented on #181
Okay this has been fixed with a quick solution. Indeed the type of ID field is wrong. It should auto increment. But to not have to change db structure right now and provide a quick solution I've just casted the field as integer and it returns the correct max value.

Thank you @JuanMenendezBuitrago for pointing this out.

[2015-09-26 18:10] #181 closed

[2015-10-03 09:35] marcosmenendez opened #182 "Changes on footer"
There are some small changes to be done in the footer:
1. Update legal address to 7-15 Greatorex Street London E1 5NF
2. Take out the copyright text
3. Move 2 icons right below the other 2. Clockwise from upper-left: TGD, twitter, reddit, wordpress
4. Put "Coders" in the place of "Support" and eliminate "Third parties" column
5. Stretch all the columns to leave some more space at the right hand si

[2015-10-03 09:41] marcosmenendez opened #183 "Update registered office address"
Registered office should be changed to: Unit 3, 7-15 Greatorex Street London E1 5NF

It should be changed on:
1. Who we are: https://www.thegooddata.org/legal#terms
2. Registered office: https://www.thegooddata.org/legal#rules

Change in footer is explained in issue #182

[2015-10-05 15:21] JuanMenendezBuitrago commented on #182
The result looks like this but the social icons look a bit awkward. They fit in a single row as they were before, in case you like them better like that.

![tgd-footer](https://cloud.githubusercontent.com/assets/5305439/10284647/4ec60c2a-6b85-11e5-9b56-f18fdee43cf1.PNG)

[2015-10-06 06:01] marcosmenendez commented on #182
ok. Let's leave it in one line. Thanks

[2015-10-14 13:56] #180 closed

[2015-10-14 13:57] #148 closed

[2015-10-14 13:57] #105 closed

[2015-10-14 13:57] #54 closed

[2015-10-14 16:09] marcosmenendez commented on #153
I haven't seen any quantity automatically added in the last month. @JuanMenendezBuitrago can you check what's going on?

[2015-10-27 13:59] marcosmenendez opened #184 "[Interests] Adapt existing developments to new Alexa API"
Alexa API has become pay-per-use and migrated to Amazon AWS. We need to recode whatever necessary to feed our categorization engine with the new API.

We have to minimize as well the calls to the new service in order to control costs. In case a domain has already been checked we will assume that this domain has not changed category.

[2015-10-30 19:04] marcosmenendez opened #185 "Session cookies not longer working"
If I logout in the website and try to relogin as a different user, initial session persists

[2015-11-01 10:39] atrandafir commented on #185
@marcosmenendez I've tried logging with both my username and the admin user and I can see it works fine for me. Can you provide more details on this?

[2015-11-01 11:58] marcosmenendez commented on #185
You are right. Now it is working. Don't know why.

[2015-11-17 08:53] marcosmenendez opened #186 "Fix landing page English errors"
Please fix mistakes (underlined)

To be successful in this adventure, we know that our members have to *completely trust in* us. Because of that, TheGoodData works *with a completely* transparent culture. You can see at any moment what new features we are working on or even what our financials are.

Not only *can you* see what’s going on, but you can become part of it. Our company embraces open co

[2015-11-17 16:10] marcosmenendez opened #187 "Monthly Threats Blocked at 0"
Good data page shows this value at zero. It must be wrong

[2015-11-17 18:06] #186 closed

[2015-11-17 19:59] #187 closed

[2015-11-19 09:12] marcosmenendez opened #188 "Check monthly pages and threats"
After last fix those numbers look a bit higher than in the past. If we do some maths and divide pages visited by active users, it shows than an average user visits 500 pages per day including weekends. That's too high.

Are we counting visits and users correctly? It may well be that we are duplicating some pages visited, or counting browser actions like new tabs, etc

[2015-11-19 17:54] jorgerayware commented on #188
I've been looking into this issue and apparently there is a bug in the extension, since its gathering data without a member_id nor user_id. This is what is messing with visits counter. I'll keep on touch with it.

[2015-11-20 13:06] JuanMenendezBuitrago commented on #188
There's some data sent from the extension that doesn't have member_id no user_id information attached to it. I'm not sure if it only happens for browsed pages or if it happens for threats too, but t is made on purpose when the user is not logged in (I guess). I think that Bogdan worked on this but Maybe Alex can give some more info about it.

[2015-11-20 14:18] atrandafir commented on #188
I think you are right @JuanMenendezBuitrago! I've forgot about that. I think this was the related issue in the extension: https://github.com/thegooddata/extension/issues/33

[2015-11-20 16:13] marcosmenendez commented on #188
Still we need to count those users. We cannot count one thing (pages) and
not the other (users).
The requirement was to count both, but don't store details on that activity
(domains visited, etc)

[2015-11-20 17:22] marcosmenendez commented on #188
Besides fixing that, as said at the issue, the number of pages visited have
grown significantly without any growth on the user side. Once fixed the
user count, we should check that there is no user with a significant number
of visits besides admin user.

In the past there was a hacker that decided to create fake users for fun.
It may well be that there is a hacker creating fake visits. Let's check

[2015-11-30 09:41] marcosmenendez commented on #170
Besides considering Cyren or Webpulse, we could also test the outcome of running the following API for the unclassified domains:
http://www.alchemyapi.com/products/alchemylanguage/concept-tagging
http://www.alchemyapi.com/products/alchemylanguage/keyword-extraction

Login data can be found at lastpass shared folder

[2015-12-01 15:39] marcosmenendez commented on #185
I have reproduced the error. It happens when you logout in the website. Logging out in the extension works.

[2015-12-01 15:54] jorgerayware commented on #185
@marcosmenendez can't reproduce this error. I logged in with the admin user, then my username and it seems fine. Tried this twice and works for me. Can you be more specific?

[2015-12-01 16:01] atrandafir commented on #185
Maybe related to server side cache? I think when the sys admin did some tweaking on Nginx sometimes pages were cached, so maybe we should check that is not something like that.

[2015-12-01 17:32] calidadesystems commented on #185
Hello, I have checked webserver configuratión, sessions are stored in files not in any kind of caches, and i don't saw any kind of cache in nginx
One question, could be that sessions aren't being destroyed correctly?

http://7php.com/php-5-3-how-to-completely-destroy-session-variables-in-php/

//remove PHPSESSID from browser
if ( isset( $_COOKIE[session_name()] ) )
setcookie( session_name(), “”, t

[2015-12-01 17:38] marcosmenendez commented on #136
There are a few errors:
1. Interest percentages are not calculated properly. Here https://github.com/thegooddata/webapp/issues/87 it was requested to do them on a percentile way (percentile-51)x2 based on the last 30 days. It is very unlikely to have a -100% or +100% in this way. Please confirm as well the timeframe used (30 days)
2. Sensitive categories should not be listed. If we don' consider v

[2015-12-01 17:39] marcosmenendez opened #189 "Your data page displays 2 icons instead of one"
See image

![screen shot 2015-12-01 at 6 38 08 pm](https://cloud.githubusercontent.com/assets/1178350/11508776/c55775e8-985a-11e5-9272-9cdc5cb60648.png)

[2015-12-01 17:40] atrandafir commented on #185
I know that maybe Adrian activated some kind of page-cache in nginx when we
were doing stress tests, but again, this is just an idea that we must check
along with other possibilities of the issue to see what could be the cause.
If Marcos can reproduce this "live", maybe he can do a Skype with Jorge and
maybe we can understand it better.

2015-12-01 18:32 GMT+01:00 Calidade Systems <notifications@g

[2015-12-01 18:00] calidadesystems commented on #185
I've seen this behavior  several times, and causes were a varnish cache bad configured,or session errors. I've checked again and don't see any kind of cache, just nginx raw performance optimizations
if we can reproduce this bug we can check what's happening in session printing a dump of session variable content.

[2015-12-01 18:21] marcosmenendez commented on #185
I'm on skype to reproduce it now if you want

*Marcos Menendez*
hangout: marcos@thegooddata.org
skype: marcosmenendez
tel: +44 (0)20 3289 0009
twitter: @marcmenen <https://twitter.com/intent/user?screen_name=marcmenen>
Unit 3, 7-15 Greatorex Street
London E1 5NF

On Tue, Dec 1, 2015 at 7:00 PM, Calidade Systems <notifications@github.com>
wrote:

[2015-12-01 18:46] marcosmenendez opened #190 "Evil data identified threats last week not working"
It shows data for the month and the year, but not for the last 7 days (although there has been activity)
![screen shot 2015-12-01 at 7 42 27 pm](https://cloud.githubusercontent.com/assets/1178350/11510463/29b939d2-9864-11e5-99ba-095ad7204551.png)

[2015-12-02 07:42] marcosmenendez commented on #160
Is this in production already? Then close. (And do so with the rest of the issues)

[2015-12-03 16:02] #160 closed

[2015-12-18 14:41] #189 closed

[2015-12-18 14:43] #183 closed

[2015-12-18 14:43] #182 closed

[2015-12-18 15:48] #184 closed

[2015-12-22 01:02] #190 closed

[2015-12-22 01:33] #188 closed

[2015-12-22 12:53] jorgerayware opened #191 "Monthly data not showing properly"
Data in blue block on home page is not showing properly for tablets and PC. Numbers overlaps for certain resolutions.

[2015-12-22 18:37] #191 closed

[2015-12-23 15:47] jorgerayware opened #192 "Contributions in webapp and extension do not match"
Also check cache in extensions since it may not be working properly

[2015-12-23 18:17] #192 closed

[2015-12-28 15:40] jorgerayware commented on #170
In order to add new types of categorizations two site were investigated: Cyren (http://www.cyren.com/url-category-check.html) and Webpulse (https://sitereview.bluecoat.com/sitereview.jsp) known as Blue Coat.

These sites, as we could see, have more categorized domains , making it ideal to complement the categorization of domains. They use other categories, different from that used by Alexa (DMOZ)

[2015-12-29 18:37] atrandafir commented on #10
Just as an idea.. maybe it would be interesting to reconsider rebuilding the entire website when we would like to go International.

As for markdown, I think it's great for things such as documentation but I do not think it will completely provide the tools to manage a multi-language website and application.

Jorge and I have been working on a open source CMS based on Yii2 that could be used.

Ind

[2016-01-04 22:47] jorgerayware commented on #152
@marcosmenendez, @atrandafir and myself have been investigating carefully about this issue.

We made some conclusions:

1. The sources you pointed out are not too useful. This sources are not just host-based, they're also based on regular expressions and files. This will need a different code to detect new domains since TGD extension is only host-based. And this represents and important workload.

[2017-03-08 21:30] marcosmenendez commented on #156
Not relevant anymore since Zidisha does not provide detailed loss data per project

[2017-03-08 21:30] #156 closed

[2017-03-08 21:35] #153 closed

[2017-03-08 22:13] marcosmenendez opened #193 "Facebook footprint"
Facebook holds lots of personal data. Part of it can be exported as explained here https://www.facebook.com/help/131112897028467/

Data could be presented in a raw format with basic processing or estimate user profile based on user likes, for instance: According to this study http://www.pnas.org/content/early/2015/01/07/1418680112.full.pdf+html 300 likes are enough to draw an accurate profile.

Ev

[2017-03-08 22:18] marcosmenendez opened #194 "Google footprint"
In a similar way to facebook, Google personal data can be exported manually as explained here: https://support.google.com/accounts/answer/3024190?hl=en

Data could be presented in a raw format with simple visualisations or estimate user profile after further processing

[2017-03-09 00:33] marcosmenendez opened #195 "New design (2017)"
Implement new website and extension design as per https://drive.google.com/open?id=0B9en5ipBZkcTeEVGUzZQUklkbGs

Review texts to make it easier to understand and adjusted to the new situation: no data broker, new primary rules, etc

Simplify extension, make data available for non-registered users (to certain extent safeguarding privacy)

[2017-03-09 00:39] marcosmenendez opened #196 "New tab banner"
Embed a couple of banners in the new tab as per Tab for a Cause (http://tab.gladly.io/) together with total money raised and new projects funded.

Consider Google Adsense to start. Check if make sense to allow certain trackers (e.g.Criteo) under certain conditions

[2017-03-09 19:29] marcosmenendez opened #197 "Banking footprint"
Download banking activity and process user profile based on purchases.

Based on new EU directive PSD2, banks are obliged to give users easy access to the data they hold. They are building some standard APIs to provide that access. Some of the most advanced initiatives are:
https://openbankproject.com/ in UK
https://bbvaopen4u.com/ in Spain

With user permission we could download, analyse that dat

[2017-03-10 16:35] marcosmenendez opened #198 "New tab achievements"
Show TGD achievements whenever the user opens a new tab.

Consider the less intrusive option, for instance:
- show total money raised everytime
- showing latest project funded only if there has been a new project funded

Use as a reference Tab for a Cause (http://tab.gladly.io/) among others.

[2017-03-15 12:36] marcosmenendez opened #199 "Homepage is not downloading in its full"
Seems to get stuck when connecting with piwik analytics. May have implications in the whole analytics

[2017-03-22 18:29] marcosmenendez opened #200 "Personal Data Storage"
This is a project by itself, but until it is properly addressed, this issue serves to introduce it.

We have to build a Personal Data Storage System that is secure, scalable and flexible. With flexible it means that it can allow users to share their data on various terms.

We may not need to build it, but we could outsource it to a PSD provider like Mydex.

We should consider as well alternatives